In [1]:
import pandas as pd
import numpy as np

In [3]:
nome  = pd.read_csv('dataset/all_nominees/IMDb movies.csv')
nome

C:\Users\gisiq\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,...,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,$ 2250,NaN,NaN,NaN,7.0,7.0
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8,188,NaN,NaN,NaN,NaN,5.0,2.0
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,$ 45000,NaN,NaN,NaN,25.0,3.0
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237,NaN,NaN,NaN,NaN,31.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85850,tt9908390,Le lion,Le lion,2020,2020-01-29,Comedy,95,"France, Belgium",French,Ludovic Colbeau-Justin,...,"Dany Boon, Philippe Katerine, Anne Serra, Samu...",A psychiatric hospital patient pretends to be ...,5.3,398,NaN,NaN,$ 3507171,NaN,NaN,4.0
85851,tt9911196,De Beentjes van Sint-Hildegard,De Beentjes van Sint-Hildegard,2020,2020-02-13,"Comedy, Drama",103,Netherlands,"German, Dutch",Johan Nijenhuis,...,"Herman Finkers, Johanna ter Steege, Leonie ter...",A middle-aged veterinary surgeon believes his ...,7.7,724,NaN,NaN,$ 7299062,NaN,6.0,4.0
85852,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,2019-03-08,Drama,130,India,Malayalam,Vineesh Aaradya,...,"Anoop Chandran, Indrans, Sona Nair, Simon Brit...",NaN,7.9,265,NaN,NaN,NaN,NaN,NaN,NaN
85853,tt9914286,Sokagin Çocuklari,Sokagin Çocuklari,2019,2019-03-15,"Drama, Family",98,Turkey,Turkish,Ahmet Faik Akinci,...,"Ahmet Faik Akinci, Belma Mamati, Metin Keçeci,...",NaN,6.4,194,NaN,NaN,$ 2833,NaN,NaN,NaN
85854,tt9914942,La vida sense la Sara Amat,La vida sense la Sara Amat,2019,2020-02-05,Drama,74,Spain,Catalan,Laura Jou,...,"Maria Morera Colomer, Biel Rossell Pelfort, Is...","Pep, a 13-year-old boy, is in love with a girl...",6.7,102,NaN,NaN,$ 59794,NaN,NaN,2.0

In [4]:
nome.keys()

Index(['imdb_title_id', 'title', 'original_title', 'year', 'date_published',
       'genre', 'duration', 'country', 'language', 'director', 'writer',
       'production_company', 'actors', 'description', 'avg_vote', 'votes',
       'budget', 'usa_gross_income', 'worlwide_gross_income', 'metascore',
       'reviews_from_users', 'reviews_from_critics'],
      dtype='object')

In [5]:
nome.year.unique()

array([1894, 1906, 1911, 1912, 1919, 1913, 1914, 1915, 1916, 1917, 1918,
       1920, 1921, 1924, 1922, 1923, 1925, 1926, 1935, 1927, 1928, 1983,
       1929, 1930, 1932, 1931, 1937, 1938, 1933, 1934, 1936, 1940, 1939,
       1942, 1943, 1941, 1948, 1944, 2001, 1946, 1945, 1947, 1973, 1949,
       1950, 1952, 1951, 1962, 1953, 1954, 1955, 1961, 1956, 1958, 1957,
       1959, 1960, 1963, 1965, 1971, 1964, 1966, 1968, 1967, 1969, 1976,
       1970, 1979, 1972, 1981, 1978, 2000, 1989, 1975, 1974, 1986, 1990,
       2018, 1977, 1982, 1980, 1993, 1984, 1985, 1988, 1987, 2005, 1991,
       2002, 1994, 1992, 1995, 2017, 1997, 1996, 2006, 1999, 1998, 2007,
       2008, 2003, 2004, 2010, 2009, 2011, 2013, 2012, 2016, 2015, 2014,
       2019, 2020, '2012', '2015', '2009', '2013', '2018', '2014', '2017',
       '2011', '2016', '1981', '1975', '2010', '1984', '2007', '2006',
       '2001', '2004', '1979', '2019', '1967', '1978', '2003', '2005',
       '1969', '1990', '1983', '2002', '1996', '2008', '1995', '1999',
       '1974', '1993', '1998', '1989', '2020', '1966', '1956', '1962',
       '1985', '2000', '1971', '1970', '1986', '1930', '1976', '1982',
       '1992', '1963', '1994', '1964', '1997', '1987', '1980',
       'TV Movie 2019', '1988'], dtype=object)

In [6]:
recente  = pd.read_csv('recente2.csv')
recente

   imdb_title_id                  title_pt
0      tt1825683        Infiltrado na Klan
1      tt7349662             Pantera Negra
2      tt1727824         Bohemian Rhapsody
3      tt5083738                A Favorita
4      tt6966692        Green Book: O Guia
5      tt1517451         Nasce Uma Estrela
6      tt6266538                      Vice
7      tt1950186           Ford v. Ferrari
8      tt1302006                O Irlandes
9      tt2584384               Jojo Rabbit
10     tt7286456                   Coringa
11     tt3281548        Adoraveis Mulheres
12     tt7653254  História de um Casamento
13     tt8579674                      1917
14     tt7131622  Era uma vez em Hollywood
15     tt6751668                  Parasita

In [7]:
nominated = pd.merge(recente, nome, on="imdb_title_id")
nominated

,imdb_title_id,title_pt,title,original_title,year,date_published,genre,duration,country,language,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt1825683,Infiltrado na Klan,Black Panther,Black Panther,2018,2018-02-14,"Action, Adventure, Sci-Fi",134,USA,"English, Swahili, Nama, Xhosa, Korean",...,"Chadwick Boseman, Michael B. Jordan, Lupita Ny...","T'Challa, heir to the hidden but advanced king...",7.3,597058,$ 200000000,$ 700426566,$ 1347280838,88.0,3243.0,685.0
1,tt7349662,Pantera Negra,BlacKkKlansman,BlacKkKlansman,2018,2018-09-27,"Biography, Crime, Drama",135,USA,English,...,"Alec Baldwin, John David Washington, Isiah Whi...",NaN,7.5,207042,$ 15000000,$ 49275340,$ 93400823,83.0,865.0,447.0
2,tt1727824,Bohemian Rhapsody,Bohemian Rhapsody,Bohemian Rhapsody,2018,2018-11-29,"Biography, Drama, Music",134,"UK, USA","English, British Sign Language",...,"Rami Malek, Lucy Boynton, Gwilym Lee, Ben Hard...",The story of the legendary British rock band,8.0,433549,$ 52000000,$ 216668042,$ 906884690,49.0,3367.0,461.0
3,tt5083738,A Favorita,La favorita,The Favourite,2018,2019-01-24,"Biography, Comedy, Drama",119,"Ireland, UK, USA",English,...,"Olivia Colman, Rachel Weisz, Emma Delves, Faye...","In early 18th century England, a frail Queen A...",7.5,163857,$ 15000000,$ 34366783,$ 95918706,91.0,1207.0,439.0
4,tt6966692,Green Book: O Guia,Green Book,Green Book,2018,2019-01-31,"Biography, Comedy, Drama",130,"USA, China","English, Italian, Russian, German",...,"Viggo Mortensen, Mahershala Ali, Linda Cardell...",A working-class Italian-American bouncer becom...,8.2,341975,$ 23000000,$ 85080171,$ 321752656,69.0,1472.0,400.0
5,tt1517451,Nasce Uma Estrela,A Star Is Born,A Star Is Born,2018,2018-10-11,"Drama, Music, Romance",136,USA,English,...,"Lady Gaga, Bradley Cooper, Sam Elliott, Andrew...",A musician helps a young singer find fame as a...,7.7,318520,$ 36000000,$ 215288866,$ 436188866,88.0,2687.0,473.0
6,tt6266538,Vice,Vice - L'uomo nell'ombra,Vice,2018,2019-01-03,"Biography, Comedy, Drama",132,USA,"English, Arabic",...,"Christian Bale, Amy Adams, Steve Carell, Sam R...",The story of,7.2,113257,$ 60000000,$ 47836282,$ 76073488,61.0,729.0,328.0
7,tt1950186,Ford v. Ferrari,Le Mans '66 - La grande sfida,Ford v Ferrari,2019,2019-11-14,"Action, Biography, Drama",152,USA,"English, Italian, French, Japanese",...,"Matt Damon, Christian Bale, Jon Bernthal, Cait...",American car designer,8.1,251782,$ 97600000,$ 117624357,$ 225508210,81.0,1316.0,337.0
8,tt1302006,O Irlandes,The Irishman,The Irishman,2019,2019-11-27,"Biography, Crime, Drama",209,USA,"English, Italian, Latin, Spanish, German",...,"Robert De Niro, Al Pacino, Joe Pesci, Harvey K...",An old man recalls his time painting houses fo...,7.9,304528,$ 159000000,NaN,$ 968853,94.0,2705.0,438.0
9,tt2584384,Jojo Rabbit,Jojo Rabbit,Jojo Rabbit,2019,2020-01-16,"Comedy, Drama, War",108,"USA, New Zealand, Czech Republic","English, German",...,"Roman Griffin Davis, Thomasin McKenzie, Scarle...",A young boy in Hitler's army finds out his mot...,7.9,253681,$ 14000000,$ 33370906,$ 90335025,58.0,1439.0,410.0
10,tt7286456,Coringa,Joker,Joker,2019,2019-10-03,"Crime, Drama, Thriller",122,"USA, Canada",English,...,"Joaquin Phoenix, Robert De Niro, Zazie Beetz, ...","In Gotham City, mentally troubled comedian Art...",8.5,855097,$ 55000000,$ 335451311,$ 1074251311,59.0,10472.0,698.0
11,tt3281548,Adoraveis Mulheres,Piccole donne,Little Women,2019,2020-01-09,"Drama, Romance",135,USA,"English, French",...,"Saoirse Ronan, Emma Watson, Florence Pugh, Eli...","Jo March reflects back and forth on her life, ...",7.8,122387,$ 40000000,$ 108101214,$ 216601214,91.0,897.0,336.0
12,tt7653254,História de um Casamento,Storia di un matrimonio,Marriage Story,2019,2019-12-06,"Comedy, Drama, Romance",137,"UK, USA","English, Spanish",...,"Adam Driver, Scarlett Johansson, Julia Greer, ...",Noah Baumbach's incisive and compassionate loo...,8.0,227338,$ 18600000,NaN,$ 333686,94.0,1207.0,335.0
13,tt8579674,1917,1917,1917,2019,2020-01-23,"Drama, War",119,"USA, UK, India, Spain, Canada, China","English, French, German",...,"Dean-Charles Chapman, George MacKay, Daniel Ma...","April 6th, 1917. As a regiment assembles to wa...",8.3,362897,$ 95000000,$ 159227644,$ 384857224,78.0,2843.0,474.0
14,tt7131622,Era uma vez em Hollywood,C'era una volta a... Hollywood,Once Upon a Time... in Hollywood,2019,2019-09-18,"Comedy, Drama",161,"USA, UK, China","English, Italian, Spanish, German",...,"Leonardo DiCaprio, Brad Pitt, Margot Robbie, E...",A faded television actor and his stunt double ...,7.6,507214,$ 90000000,$ 142502728,$ 374343626,83.0,5166.0,613.0
15,tt6751668,Parasita,Parasite,Gisaengchung,2019,2019-11-07,"Comedy, Drama, Thriller",132,South Korea,"Korean, English",...,"Kang-ho Song, Sun-kyun Lee, Yeo-jeong Jo, Woo-...",Greed and class discrimination threaten the ne...,8.6,470931,$ 11400000,$ 53369749,$ 257604912,96.0,2714.0,542.0

In [8]:
nominated8 = nominated[['imdb_title_id', 'title', 'title_pt', 'year', 'avg_vote', 'votes', 'metascore', 'duration', 'genre', 'director', 'actors',  'writer', 'budget','usa_gross_income', 'worlwide_gross_income', 'description']]

In [9]:
nominated8

,imdb_title_id,title,title_pt,year,avg_vote,votes,metascore,duration,genre,director,actors,writer,budget,usa_gross_income,worlwide_gross_income,description
0,tt1825683,Black Panther,Infiltrado na Klan,2018,7.3,597058,88.0,134,"Action, Adventure, Sci-Fi",Ryan Coogler,"Chadwick Boseman, Michael B. Jordan, Lupita Ny...","Ryan Coogler, Joe Robert Cole",$ 200000000,$ 700426566,$ 1347280838,"T'Challa, heir to the hidden but advanced king..."
1,tt7349662,BlacKkKlansman,Pantera Negra,2018,7.5,207042,83.0,135,"Biography, Crime, Drama",Spike Lee,"Alec Baldwin, John David Washington, Isiah Whi...","Charlie Wachtel, David Rabinowitz",$ 15000000,$ 49275340,$ 93400823,NaN
2,tt1727824,Bohemian Rhapsody,Bohemian Rhapsody,2018,8.0,433549,49.0,134,"Biography, Drama, Music",Bryan Singer,"Rami Malek, Lucy Boynton, Gwilym Lee, Ben Hard...","Anthony McCarten, Peter Morgan",$ 52000000,$ 216668042,$ 906884690,The story of the legendary British rock band
3,tt5083738,La favorita,A Favorita,2018,7.5,163857,91.0,119,"Biography, Comedy, Drama",Yorgos Lanthimos,"Olivia Colman, Rachel Weisz, Emma Delves, Faye...","Deborah Davis, Tony McNamara",$ 15000000,$ 34366783,$ 95918706,"In early 18th century England, a frail Queen A..."
4,tt6966692,Green Book,Green Book: O Guia,2018,8.2,341975,69.0,130,"Biography, Comedy, Drama",Peter Farrelly,"Viggo Mortensen, Mahershala Ali, Linda Cardell...","Nick Vallelonga, Brian Hayes Currie",$ 23000000,$ 85080171,$ 321752656,A working-class Italian-American bouncer becom...
5,tt1517451,A Star Is Born,Nasce Uma Estrela,2018,7.7,318520,88.0,136,"Drama, Music, Romance",Bradley Cooper,"Lady Gaga, Bradley Cooper, Sam Elliott, Andrew...","Eric Roth, Bradley Cooper",$ 36000000,$ 215288866,$ 436188866,A musician helps a young singer find fame as a...
6,tt6266538,Vice - L'uomo nell'ombra,Vice,2018,7.2,113257,61.0,132,"Biography, Comedy, Drama",Adam McKay,"Christian Bale, Amy Adams, Steve Carell, Sam R...",Adam McKay,$ 60000000,$ 47836282,$ 76073488,The story of
7,tt1950186,Le Mans '66 - La grande sfida,Ford v. Ferrari,2019,8.1,251782,81.0,152,"Action, Biography, Drama",James Mangold,"Matt Damon, Christian Bale, Jon Bernthal, Cait...","Jez Butterworth, John-Henry Butterworth",$ 97600000,$ 117624357,$ 225508210,American car designer
8,tt1302006,The Irishman,O Irlandes,2019,7.9,304528,94.0,209,"Biography, Crime, Drama",Martin Scorsese,"Robert De Niro, Al Pacino, Joe Pesci, Harvey K...","Steven Zaillian, Charles Brandt",$ 159000000,NaN,$ 968853,An old man recalls his time painting houses fo...
9,tt2584384,Jojo Rabbit,Jojo Rabbit,2019,7.9,253681,58.0,108,"Comedy, Drama, War",Taika Waititi,"Roman Griffin Davis, Thomasin McKenzie, Scarle...","Christine Leunens, Taika Waititi",$ 14000000,$ 33370906,$ 90335025,A young boy in Hitler's army finds out his mot...
10,tt7286456,Joker,Coringa,2019,8.5,855097,59.0,122,"Crime, Drama, Thriller",Todd Phillips,"Joaquin Phoenix, Robert De Niro, Zazie Beetz, ...","Todd Phillips, Scott Silver",$ 55000000,$ 335451311,$ 1074251311,"In Gotham City, mentally troubled comedian Art..."
11,tt3281548,Piccole donne,Adoraveis Mulheres,2019,7.8,122387,91.0,135,"Drama, Romance",Greta Gerwig,"Saoirse Ronan, Emma Watson, Florence Pugh, Eli...","Greta Gerwig, Louisa May Alcott",$ 40000000,$ 108101214,$ 216601214,"Jo March reflects back and forth on her life, ..."
12,tt7653254,Storia di un matrimonio,História de um Casamento,2019,8.0,227338,94.0,137,"Comedy, Drama, Romance",Noah Baumbach,"Adam Driver, Scarlett Johansson, Julia Greer, ...",Noah Baumbach,$ 18600000,NaN,$ 333686,Noah Baumbach's incisive and compassionate loo...
13,tt8579674,1917,1917,2019,8.3,362897,78.0,119,"Drama, War",Sam Mendes,"Dean-Charles Chapman, George MacKay, Daniel Ma...","Sam Mendes, Krysty Wilson-Cairns",$ 95000000,$ 159227644,$ 384857224,"April 6th, 1917. As a regiment assembles to wa..."
14,tt7131622,C'era una volta a... Hollywood,Era uma vez em Hollywood,2019,7.6,507214,83.0,161,"Comedy, Drama",Quentin Tarantino,"Leonardo DiCaprio, Brad Pitt, Margot Robbie, E...",Quentin Tarantino,$ 90000000,$ 142502728,$ 374343626,A faded television actor and his stunt double ...
15,tt6751668,Parasite,Parasita,2019,8.6,470931,96.0,132,"Comedy, Drama, Thriller",Bong Joon Ho,"Kang-ho Song, Sun-kyun Lee, Yeo-jeong Jo, Woo-...","Bong Joon Ho, Bong Joon Ho",$ 11400000,$ 53369749,$ 257604912,Greed and class discrimination threaten the ne...

In [10]:
nominated8.to_csv('C:/Users/gisiq/Documents/Cursos/Ironhack/projeto_final/nominated8.csv', index=False)

In [16]:
oscar21  = pd.read_csv('C:/Users/gisiq/Documents/Cursos/Ironhack/projeto_final/datasets_atual/oscar2021.csv')
oscar21

  imdb_title_id                     title_pt
0     tt9784798  Judas and the Black Messiah
1    tt10618286                         Mank
2    tt10633456                       Minari
3     tt9770150                   Nomadland
4     tt9620292        Promising Young Woman
5     tt5363618               Sound of Metal
6    tt10272386                   The Father
7     tt1070874   The Trial of the Chicago 7

In [17]:
nominated2021 = pd.merge(oscar21, nome, on="imdb_title_id")
nominated2021

,imdb_title_id,title_pt,title,original_title,year,date_published,genre,duration,country,language,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt10633456,Minari,Minari,Minari,2020,2020-11-20,Drama,115,USA,English,...,"Steven Yeun, Yeri Han, Yuh-Jung Youn, Alan S. ...",A Korean family moves to Arkansas to start a f...,8.0,167,NaN,NaN,NaN,88.0,2.0,10.0
1,tt9620292,Promising Young Woman,Promising Young Woman,Promising Young Woman,2020,2020-07-17,"Comedy, Crime, Drama",113,"UK, USA",English,...,"Carey Mulligan, Bo Burnham, Laverne Cox, Clanc...","A young woman, traumatized by a tragic event i...",6.5,349,NaN,NaN,NaN,74.0,4.0,52.0
2,tt5363618,Sound of Metal,Sound of Metal,Sound of Metal,2019,2020,"Drama, Music",130,"Belgium, USA",English,...,"Olivia Cooke, Riz Ahmed, Mathieu Amalric, Laur...",A heavy-metal drummer's life is thrown into fr...,6.9,307,NaN,NaN,NaN,87.0,7.0,16.0
3,tt10272386,The Father,The Father,The Father,2020,2021-01-08,Drama,97,"UK, France",English,...,"Anthony Hopkins, Olivia Colman, Olivia William...",A man refuses all assistance from his daughter...,8.2,148,NaN,NaN,NaN,87.0,1.0,4.0

In [19]:
nominated2021.keys()

Index(['imdb_title_id', 'title_pt', 'title', 'original_title', 'year',
       'date_published', 'genre', 'duration', 'country', 'language',
       'director', 'writer', 'production_company', 'actors', 'description',
       'avg_vote', 'votes', 'budget', 'usa_gross_income',
       'worlwide_gross_income', 'metascore', 'reviews_from_users',
       'reviews_from_critics'],
      dtype='object')

In [21]:
nominated2021 = nominated2021[['imdb_title_id', 'title', 'title_pt', 'year', 'avg_vote', 'votes', 'metascore', 'duration', 'genre', 'director', 'actors',  'writer', 'budget','usa_gross_income', 'worlwide_gross_income', 'description']]

In [25]:
nominated2021.rename(columns={'duration':'runtime'}, inplace=True)

C:\Users\gisiq\anaconda3\lib\site-packages\pandas\core\frame.py:4125: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [26]:
nominated2021.keys()

Index(['imdb_title_id', 'title', 'title_pt', 'year', 'avg_vote', 'votes',
       'metascore', 'runtime', 'genre', 'director', 'actors', 'writer',
       'budget', 'usa_gross_income', 'worlwide_gross_income', 'description'],
      dtype='object')

In [38]:
nominated2021  = pd.read_csv('C:/Users/gisiq/Documents/Cursos/Ironhack/projeto_final/datasets_atual/nominated2021.csv')
nominated2021

,imdb_title_id,title_pt,title,original_title,year,date_published,genre,duration,country,language,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt10633456,Minari,Minari,Minari,2020,2020-11-20,Drama,115,USA,English,...,"Steven Yeun, Yeri Han, Yuh-Jung Youn, Alan S. ...",A Korean family moves to Arkansas to start a f...,8.0,167,NaN,NaN,NaN,88.0,2.0,10.0
1,tt9620292,Promising Young Woman,Promising Young Woman,Promising Young Woman,2020,2020-07-17,"Comedy, Crime, Drama",113,"UK, USA",English,...,"Carey Mulligan, Bo Burnham, Laverne Cox, Clanc...","A young woman, traumatized by a tragic event i...",6.5,349,NaN,NaN,NaN,74.0,4.0,52.0
2,tt5363618,Sound of Metal,Sound of Metal,Sound of Metal,2019,2020,"Drama, Music",130,"Belgium, USA",English,...,"Olivia Cooke, Riz Ahmed, Mathieu Amalric, Laur...",A heavy-metal drummer's life is thrown into fr...,6.9,307,NaN,NaN,NaN,87.0,7.0,16.0
3,tt10272386,The Father,The Father,The Father,2020,2021-01-08,Drama,97,"UK, France",English,...,"Anthony Hopkins, Olivia Colman, Olivia William...",A man refuses all assistance from his daughter...,8.2,148,NaN,NaN,NaN,87.0,1.0,4.0

In [39]:
nominated2021 = nominated2021[['imdb_title_id', 'title', 'title_pt', 'year', 'avg_vote', 'votes', 'metascore', 'duration', 'genre', 'director', 'actors',  'writer', 'budget','usa_gross_income', 'worlwide_gross_income', 'description']]

In [40]:
linha1 = {'imdb_title_id':'tt9784798' ,
          'title': 'Judas and the Black Messiah',
          'title_pt':'Judas e o Messias Negro' ,
          'year': 2020,
          'avg_vote' : 7.6,
          'votes': 37135,
          'metascore': 85 ,
          'duration': 126,
          'genre':'Biography, Drama, History',
          'director': 'Shaka King',
          'actors':'Daniel Kaluuya, LaKeith Stanfield, Jesse Plemons ',
          'writer':'Will Berson',
          'budget':'$26,000,000',
          'usa_gross_income':'$5,352,415',
          'worlwide_gross_income':'$6,057,415',
          'description':"Bill O'Neal infiltrates the Black Panther Party per FBI Agent Mitchell and J. Edgar Hoover. As Party Chairman Fred Hampton ascends, falling for a fellow revolutionary en route, a battle wages for O'Neal's soul"}

In [41]:
linha2 = {'imdb_title_id':'tt9770150' ,
          'title': 'Nomadland',
          'title_pt':'Nomadland' ,
          'year': 2020,
          'avg_vote' : 7.5,
          'votes': 56344,
          'metascore': 93 ,
          'duration': 107,
          'genre':'Biography, Drama, History',
          'director': 'Chloé Zhao',
          'actors':'Frances McDormand, David Strathairn, Linda May ',
          'writer':'Jessica Bruder ',
          'budget':'$5,000,000',
          'usa_gross_income':'$2,143,000',
          'worlwide_gross_income':'$5,074,445',
          'description':"A woman in her sixties who, after losing everything in the Great Recession, embarks on a journey through the American West, living as a van-dwelling modern-day nomad.l"}

In [42]:
linha3 = {'imdb_title_id':'tt1070874' ,
          'title': 'The Trial of the Chicago 7',
          'title_pt':'Os 7 de Chicago' ,
          'year': 2020,
          'avg_vote' : 7.8,
          'votes': 131684,
          'metascore': 76 ,
          'duration': 129,
          'genre':'Drama, History, Thriller ',
          'director': 'Aaron Sorkin',
          'actors':'Eddie Redmayne, Alex Sharp, Sacha Baron Cohen',
          'writer':'Aaron Sorkin',
          'budget':'$35,000,000',
          'usa_gross_income':'115,000',
          'worlwide_gross_income':'115,000',
          'description':"The story of 7 people on trial stemming from various charges surrounding the uprising at the 1968 Democratic National Convention in Chicago, Illinois."}

In [43]:
linha4 = {'imdb_title_id':'tt10618286' ,
          'title': 'Mank',
          'title_pt':'Mank' ,
          'year': 2020,
          'avg_vote' : 7.0,
          'votes': 54050,
          'metascore': 79 ,
          'duration': 131,
          'genre':'Biography, Comedy, Drama',
          'director': 'David Fincher',
          'actors':'Gary Oldman, Amanda Seyfried, Lily Collins',
          'writer':'Jack Fincher',
          'budget':'$25,000,000',
          'usa_gross_income':'122,000',
          'worlwide_gross_income':'$122,000',
          'description':"1930's Hollywood is reevaluated through the eyes of scathing social critic and alcoholic screenwriter Herman J. Mankiewicz as he races to finish the screenplay of Citizen Kane (1941)."}

In [44]:
nominated2021 = nominated2021.append(linha1,ignore_index=True)

In [45]:
nominated2021

,imdb_title_id,title,title_pt,year,avg_vote,votes,metascore,duration,genre,director,actors,writer,budget,usa_gross_income,worlwide_gross_income,description
0,tt10633456,Minari,Minari,2020,8.0,167,88.0,115,Drama,Lee Isaac Chung,"Steven Yeun, Yeri Han, Yuh-Jung Youn, Alan S. ...",Lee Isaac Chung,NaN,NaN,NaN,A Korean family moves to Arkansas to start a f...
1,tt9620292,Promising Young Woman,Promising Young Woman,2020,6.5,349,74.0,113,"Comedy, Crime, Drama",Emerald Fennell,"Carey Mulligan, Bo Burnham, Laverne Cox, Clanc...",Emerald Fennell,NaN,NaN,NaN,"A young woman, traumatized by a tragic event i..."
2,tt5363618,Sound of Metal,Sound of Metal,2019,6.9,307,87.0,130,"Drama, Music",Darius Marder,"Olivia Cooke, Riz Ahmed, Mathieu Amalric, Laur...","Derek Cianfrance, Abraham Marder",NaN,NaN,NaN,A heavy-metal drummer's life is thrown into fr...
3,tt10272386,The Father,The Father,2020,8.2,148,87.0,97,Drama,Florian Zeller,"Anthony Hopkins, Olivia Colman, Olivia William...","Christopher Hampton, Florian Zeller",NaN,NaN,NaN,A man refuses all assistance from his daughter...
4,tt9784798,Judas and the Black Messiah,Judas e o Messias Negro,2020,7.6,37135,85.0,126,"Biography, Drama, History",Shaka King,"Daniel Kaluuya, LaKeith Stanfield, Jesse Plemons",Will Berson,"$26,000,000","$5,352,415","$6,057,415",Bill O'Neal infiltrates the Black Panther Part...

In [46]:
nominated2021 = nominated2021.append(linha2,ignore_index=True)

In [47]:
nominated2021 = nominated2021.append(linha3,ignore_index=True)

In [48]:
nominated2021 = nominated2021.append(linha4,ignore_index=True)

In [49]:
nominated2021

,imdb_title_id,title,title_pt,year,avg_vote,votes,metascore,duration,genre,director,actors,writer,budget,usa_gross_income,worlwide_gross_income,description
0,tt10633456,Minari,Minari,2020,8.0,167,88.0,115,Drama,Lee Isaac Chung,"Steven Yeun, Yeri Han, Yuh-Jung Youn, Alan S. ...",Lee Isaac Chung,NaN,NaN,NaN,A Korean family moves to Arkansas to start a f...
1,tt9620292,Promising Young Woman,Promising Young Woman,2020,6.5,349,74.0,113,"Comedy, Crime, Drama",Emerald Fennell,"Carey Mulligan, Bo Burnham, Laverne Cox, Clanc...",Emerald Fennell,NaN,NaN,NaN,"A young woman, traumatized by a tragic event i..."
2,tt5363618,Sound of Metal,Sound of Metal,2019,6.9,307,87.0,130,"Drama, Music",Darius Marder,"Olivia Cooke, Riz Ahmed, Mathieu Amalric, Laur...","Derek Cianfrance, Abraham Marder",NaN,NaN,NaN,A heavy-metal drummer's life is thrown into fr...
3,tt10272386,The Father,The Father,2020,8.2,148,87.0,97,Drama,Florian Zeller,"Anthony Hopkins, Olivia Colman, Olivia William...","Christopher Hampton, Florian Zeller",NaN,NaN,NaN,A man refuses all assistance from his daughter...
4,tt9784798,Judas and the Black Messiah,Judas e o Messias Negro,2020,7.6,37135,85.0,126,"Biography, Drama, History",Shaka King,"Daniel Kaluuya, LaKeith Stanfield, Jesse Plemons",Will Berson,"$26,000,000","$5,352,415","$6,057,415",Bill O'Neal infiltrates the Black Panther Part...
5,tt9770150,Nomadland,Nomadland,2020,7.5,56344,93.0,107,"Biography, Drama, History",Chloé Zhao,"Frances McDormand, David Strathairn, Linda May",Jessica Bruder,"$5,000,000","$2,143,000","$5,074,445","A woman in her sixties who, after losing every..."
6,tt1070874,The Trial of the Chicago 7,Os 7 de Chicago,2020,7.8,131684,76.0,129,"Drama, History, Thriller",Aaron Sorkin,"Eddie Redmayne, Alex Sharp, Sacha Baron Cohen",Aaron Sorkin,"$35,000,000","115,000","115,000",The story of 7 people on trial stemming from v...
7,tt10618286,Mank,Mank,2020,7.0,54050,79.0,131,"Biography, Comedy, Drama",David Fincher,"Gary Oldman, Amanda Seyfried, Lily Collins",Jack Fincher,"$25,000,000","122,000","$122,000",1930's Hollywood is reevaluated through the ey...

In [68]:
nominated2021.at[0, 'title_pt'] = 'Minari'
nominated2021.at[0,'year'] = 2020
nominated2021.at[0,'budget']= '$2,000,000'
nominated2021.at[0,'usa_gross_income'] ='$11,000,000'
nominated2021.at[0,'worlwide_gross_income'] = '$11,000,000'
              
    
nominated2021.at[1, 'title_pt'] = 'Bela Vingança'
nominated2021.at[1,'year'] = 2020
nominated2021.at[1,'budget']= '$2,000,000'
nominated2021.at[1,'usa_gross_income'] ='$5,808,915'
nominated2021.at[1,'worlwide_gross_income'] = '$10,912,915'  
    
nominated2021.at[2, 'title_pt'] = 'O Som do Silêncio'
nominated2021.at[2,'year'] = 2020
nominated2021.at[2,'budget']= '$1,000,000'
nominated2021.at[2,'usa_gross_income'] ='$180,000'
nominated2021.at[2,'worlwide_gross_income'] = '$180,000'      
    
nominated2021.at[3, 'title_pt'] = 'Meu Pai'
nominated2021.at[3,'year'] = 2020
nominated2021.at[3,'budget']= '$20,000,000'
nominated2021.at[3,'usa_gross_income'] ='$5,100,000'
nominated2021.at[3,'worlwide_gross_income'] = '$5,100,000'

In [69]:
nominated2021

,imdb_title_id,title,title_pt,year,avg_vote,votes,metascore,duration,genre,director,actors,writer,budget,usa_gross_income,worlwide_gross_income,description
0,tt10633456,Minari,Minari,2020,8.0,167,88.0,115,Drama,Lee Isaac Chung,"Steven Yeun, Yeri Han, Yuh-Jung Youn, Alan S. ...",Lee Isaac Chung,"$2,000,000","$11,000,000","$11,000,000",A Korean family moves to Arkansas to start a f...
1,tt9620292,Promising Young Woman,Bela Vingança,2020,6.5,349,74.0,113,"Comedy, Crime, Drama",Emerald Fennell,"Carey Mulligan, Bo Burnham, Laverne Cox, Clanc...",Emerald Fennell,"$2,000,000","$5,808,915","$10,912,915","A young woman, traumatized by a tragic event i..."
2,tt5363618,Sound of Metal,O Som do Silêncio,2020,6.9,307,87.0,130,"Drama, Music",Darius Marder,"Olivia Cooke, Riz Ahmed, Mathieu Amalric, Laur...","Derek Cianfrance, Abraham Marder","$1,000,000","$180,000","$180,000",A heavy-metal drummer's life is thrown into fr...
3,tt10272386,The Father,Meu Pai,2020,8.2,148,87.0,97,Drama,Florian Zeller,"Anthony Hopkins, Olivia Colman, Olivia William...","Christopher Hampton, Florian Zeller","$20,000,000","$5,100,000","$5,100,000",A man refuses all assistance from his daughter...
4,tt9784798,Judas and the Black Messiah,Judas e o Messias Negro,2020,7.6,37135,85.0,126,"Biography, Drama, History",Shaka King,"Daniel Kaluuya, LaKeith Stanfield, Jesse Plemons",Will Berson,"$26,000,000","$5,352,415","$6,057,415",Bill O'Neal infiltrates the Black Panther Part...
5,tt9770150,Nomadland,Nomadland,2020,7.5,56344,93.0,107,"Biography, Drama, History",Chloé Zhao,"Frances McDormand, David Strathairn, Linda May",Jessica Bruder,"$5,000,000","$2,143,000","$5,074,445","A woman in her sixties who, after losing every..."
6,tt1070874,The Trial of the Chicago 7,Os 7 de Chicago,2020,7.8,131684,76.0,129,"Drama, History, Thriller",Aaron Sorkin,"Eddie Redmayne, Alex Sharp, Sacha Baron Cohen",Aaron Sorkin,"$35,000,000","115,000","115,000",The story of 7 people on trial stemming from v...
7,tt10618286,Mank,Mank,2020,7.0,54050,79.0,131,"Biography, Comedy, Drama",David Fincher,"Gary Oldman, Amanda Seyfried, Lily Collins",Jack Fincher,"$25,000,000","122,000","$122,000",1930's Hollywood is reevaluated through the ey...

In [70]:
nominated2021['metascore'] = nominated2021['metascore'].div(10).round(1)
nominated2021['metascore']

0    8.8
1    7.4
2    8.7
3    8.7
4    8.5
5    9.3
6    7.6
7    7.9
Name: metascore, dtype: float64

In [79]:
nominated2021['budget'] = nominated2021['budget'].replace({r'\$|GBP|EUR|,':''}, regex = True)
nominated2021['usa_gross_income'] = nominated2021['usa_gross_income'].replace({r'\$|GBP|EUR|,':''}, regex = True)
nominated2021['worlwide_gross_income'] = nominated2021['worlwide_gross_income'].replace({r'\$|GBP|EUR|,':''}, regex = True)

In [80]:
nominated2021

,imdb_title_id,title,title_pt,year,avg_vote,votes,metascore,duration,genre,director,actors,writer,budget,usa_gross_income,worlwide_gross_income,description
0,tt10633456,Minari,Minari,2020,8.0,167,8.8,115,Drama,Lee Isaac Chung,"Steven Yeun, Yeri Han, Yuh-Jung Youn, Alan S. ...",Lee Isaac Chung,2000000,11000000,11000000,A Korean family moves to Arkansas to start a f...
1,tt9620292,Promising Young Woman,Bela Vingança,2020,6.5,349,7.4,113,"Comedy, Crime, Drama",Emerald Fennell,"Carey Mulligan, Bo Burnham, Laverne Cox, Clanc...",Emerald Fennell,2000000,5808915,10912915,"A young woman, traumatized by a tragic event i..."
2,tt5363618,Sound of Metal,O Som do Silêncio,2020,6.9,307,8.7,130,"Drama, Music",Darius Marder,"Olivia Cooke, Riz Ahmed, Mathieu Amalric, Laur...","Derek Cianfrance, Abraham Marder",1000000,180000,180000,A heavy-metal drummer's life is thrown into fr...
3,tt10272386,The Father,Meu Pai,2020,8.2,148,8.7,97,Drama,Florian Zeller,"Anthony Hopkins, Olivia Colman, Olivia William...","Christopher Hampton, Florian Zeller",20000000,5100000,5100000,A man refuses all assistance from his daughter...
4,tt9784798,Judas and the Black Messiah,Judas e o Messias Negro,2020,7.6,37135,8.5,126,"Biography, Drama, History",Shaka King,"Daniel Kaluuya, LaKeith Stanfield, Jesse Plemons",Will Berson,26000000,5352415,6057415,Bill O'Neal infiltrates the Black Panther Part...
5,tt9770150,Nomadland,Nomadland,2020,7.5,56344,9.3,107,"Biography, Drama, History",Chloé Zhao,"Frances McDormand, David Strathairn, Linda May",Jessica Bruder,5000000,2143000,5074445,"A woman in her sixties who, after losing every..."
6,tt1070874,The Trial of the Chicago 7,Os 7 de Chicago,2020,7.8,131684,7.6,129,"Drama, History, Thriller",Aaron Sorkin,"Eddie Redmayne, Alex Sharp, Sacha Baron Cohen",Aaron Sorkin,35000000,115000,115000,The story of 7 people on trial stemming from v...
7,tt10618286,Mank,Mank,2020,7.0,54050,7.9,131,"Biography, Comedy, Drama",David Fincher,"Gary Oldman, Amanda Seyfried, Lily Collins",Jack Fincher,25000000,122000,122000,1930's Hollywood is reevaluated through the ey...

In [76]:
nominated2021.year = [y.year for y in pd.to_datetime(nominated2021.year.astype('int'), format='%Y')]
nominated2021.reset_index(drop=True)

,imdb_title_id,title,title_pt,year,avg_vote,votes,metascore,duration,genre,director,actors,writer,budget,usa_gross_income,worlwide_gross_income,description
0,tt10633456,Minari,Minari,2020,8.0,167,8.8,115,Drama,Lee Isaac Chung,"Steven Yeun, Yeri Han, Yuh-Jung Youn, Alan S. ...",Lee Isaac Chung,"2,000,000","11,000,000","11,000,000",A Korean family moves to Arkansas to start a f...
1,tt9620292,Promising Young Woman,Bela Vingança,2020,6.5,349,7.4,113,"Comedy, Crime, Drama",Emerald Fennell,"Carey Mulligan, Bo Burnham, Laverne Cox, Clanc...",Emerald Fennell,"2,000,000","5,808,915","10,912,915","A young woman, traumatized by a tragic event i..."
2,tt5363618,Sound of Metal,O Som do Silêncio,2020,6.9,307,8.7,130,"Drama, Music",Darius Marder,"Olivia Cooke, Riz Ahmed, Mathieu Amalric, Laur...","Derek Cianfrance, Abraham Marder","1,000,000","180,000","180,000",A heavy-metal drummer's life is thrown into fr...
3,tt10272386,The Father,Meu Pai,2020,8.2,148,8.7,97,Drama,Florian Zeller,"Anthony Hopkins, Olivia Colman, Olivia William...","Christopher Hampton, Florian Zeller","20,000,000","5,100,000","5,100,000",A man refuses all assistance from his daughter...
4,tt9784798,Judas and the Black Messiah,Judas e o Messias Negro,2020,7.6,37135,8.5,126,"Biography, Drama, History",Shaka King,"Daniel Kaluuya, LaKeith Stanfield, Jesse Plemons",Will Berson,"26,000,000","5,352,415","6,057,415",Bill O'Neal infiltrates the Black Panther Part...
5,tt9770150,Nomadland,Nomadland,2020,7.5,56344,9.3,107,"Biography, Drama, History",Chloé Zhao,"Frances McDormand, David Strathairn, Linda May",Jessica Bruder,"5,000,000","2,143,000","5,074,445","A woman in her sixties who, after losing every..."
6,tt1070874,The Trial of the Chicago 7,Os 7 de Chicago,2020,7.8,131684,7.6,129,"Drama, History, Thriller",Aaron Sorkin,"Eddie Redmayne, Alex Sharp, Sacha Baron Cohen",Aaron Sorkin,"35,000,000","115,000","115,000",The story of 7 people on trial stemming from v...
7,tt10618286,Mank,Mank,2020,7.0,54050,7.9,131,"Biography, Comedy, Drama",David Fincher,"Gary Oldman, Amanda Seyfried, Lily Collins",Jack Fincher,"25,000,000","122,000","122,000",1930's Hollywood is reevaluated through the ey...

In [77]:
nominated2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_title_id          8 non-null      object
 1   title                  8 non-null      object
 2   title_pt               8 non-null      object
 3   year                   8 non-null      int64
 4   avg_vote               8 non-null      float64
 5   votes                  8 non-null      int64
 6   metascore              8 non-null      float64
 7   duration               8 non-null      int64
 8   genre                  8 non-null      object
 9   director               8 non-null      object
 10  actors                 8 non-null      object
 11  writer                 8 non-null      object
 12  budget                 8 non-null      object
 13  usa_gross_income       8 non-null      object
 14  worlwide_gross_income  8 non-null      object
 15  description            8 non-null      object
dtypes: float64(2), int64(3), object(11)
memory usage: 1.1+ KB

In [81]:
nominated2021['budget'] = nominated2021['budget'].astype(str).astype(int)

In [82]:
nominated2021['usa_gross_income'] = nominated2021['usa_gross_income'].astype(str).astype(int)
nominated2021['worlwide_gross_income'] = nominated2021['worlwide_gross_income'].astype(str).astype(int)

In [84]:
nominated2021['win'] = 0

In [87]:
nominated2021.rename(columns={'duration':'runtime'}, inplace=True)

In [88]:
nominated2021

,imdb_title_id,title,title_pt,year,avg_vote,votes,metascore,runtime,genre,director,actors,writer,budget,usa_gross_income,worlwide_gross_income,description,win
0,tt10633456,Minari,Minari,2020,8.0,167,8.8,115,Drama,Lee Isaac Chung,"Steven Yeun, Yeri Han, Yuh-Jung Youn, Alan S. ...",Lee Isaac Chung,2000000,11000000,11000000,A Korean family moves to Arkansas to start a f...,0
1,tt9620292,Promising Young Woman,Bela Vingança,2020,6.5,349,7.4,113,"Comedy, Crime, Drama",Emerald Fennell,"Carey Mulligan, Bo Burnham, Laverne Cox, Clanc...",Emerald Fennell,2000000,5808915,10912915,"A young woman, traumatized by a tragic event i...",0
2,tt5363618,Sound of Metal,O Som do Silêncio,2020,6.9,307,8.7,130,"Drama, Music",Darius Marder,"Olivia Cooke, Riz Ahmed, Mathieu Amalric, Laur...","Derek Cianfrance, Abraham Marder",1000000,180000,180000,A heavy-metal drummer's life is thrown into fr...,0
3,tt10272386,The Father,Meu Pai,2020,8.2,148,8.7,97,Drama,Florian Zeller,"Anthony Hopkins, Olivia Colman, Olivia William...","Christopher Hampton, Florian Zeller",20000000,5100000,5100000,A man refuses all assistance from his daughter...,0
4,tt9784798,Judas and the Black Messiah,Judas e o Messias Negro,2020,7.6,37135,8.5,126,"Biography, Drama, History",Shaka King,"Daniel Kaluuya, LaKeith Stanfield, Jesse Plemons",Will Berson,26000000,5352415,6057415,Bill O'Neal infiltrates the Black Panther Part...,0
5,tt9770150,Nomadland,Nomadland,2020,7.5,56344,9.3,107,"Biography, Drama, History",Chloé Zhao,"Frances McDormand, David Strathairn, Linda May",Jessica Bruder,5000000,2143000,5074445,"A woman in her sixties who, after losing every...",0
6,tt1070874,The Trial of the Chicago 7,Os 7 de Chicago,2020,7.8,131684,7.6,129,"Drama, History, Thriller",Aaron Sorkin,"Eddie Redmayne, Alex Sharp, Sacha Baron Cohen",Aaron Sorkin,35000000,115000,115000,The story of 7 people on trial stemming from v...,0
7,tt10618286,Mank,Mank,2020,7.0,54050,7.9,131,"Biography, Comedy, Drama",David Fincher,"Gary Oldman, Amanda Seyfried, Lily Collins",Jack Fincher,25000000,122000,122000,1930's Hollywood is reevaluated through the ey...,0

In [89]:
nominated2021.to_csv('C:/Users/gisiq/Documents/Cursos/Ironhack/projeto_final/datasets_atual/oscar_2021_clean.csv', index=False)