In [30]:
import pandas as pd
import numpy as np

In [2]:
all_oscar = pd.read_csv('all_oscar.csv')

In [3]:
all_oscar

,imdb_title_id,title,title_pt,year,avg_vote,votes,metascore,runtime,genre,director,actors,writer,budget,usa_gross_income,worlwide_gross_income,description
0,tt6294822,The Post,The Post: A Guerra Secreta,2017,7.2,130017,83.0,116,Drama,Steven Spielberg,"Meryl Streep, Tom Hanks, Sarah Paulson, Bob Od...","Liz Hannah, Josh Singer",$ 50000000,$ 81903458,$ 192938646,A cover-up spanning four U.S. Presidents pushe...
1,tt5776858,Il filo nascosto,Trama Fantasma,2017,7.5,106231,90.0,130,"Drama, Romance",Paul Thomas Anderson,"Vicky Krieps, Daniel Day-Lewis, Lesley Manvill...",Paul Thomas Anderson,$ 35000000,$ 21198205,$ 47756590,"Set in 1950s London, Reynolds Woodcock is a re..."
2,tt5027774,"Tre manifesti a Ebbing, Missouri",Três Anúncios para um Crime,2017,8.2,411693,88.0,115,"Comedy, Crime, Drama",Martin McDonagh,"Frances McDormand, Caleb Landry Jones, Kerry C...",Martin McDonagh,$ 15000000,$ 54513740,$ 160192031,A mother personally challenges the local autho...
3,tt4925292,Lady Bird,Lady Bird: A Hora de Voar,2017,7.4,228832,94.0,94,"Comedy, Drama",Greta Gerwig,"Saoirse Ronan, Laurie Metcalf, Tracy Letts, Lu...",Greta Gerwig,$ 10000000,$ 48958273,$ 79097104,"In 2002, an artistically inclined seventeen-ye..."
4,tt4555426,L'ora più buia,O Destino de uma Nação,2017,7.4,165715,75.0,125,"Biography, Drama, History",Joe Wright,"Gary Oldman, Kristin Scott Thomas, Ben Mendels...",Anthony McCarten,$ 30000000,$ 56468410,$ 153129891,"In May 1940, the fate of World War II hangs on"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
542,tt3281548,Piccole donne,Adoraveis Mulheres,2019,7.8,122387,91.0,135,"Drama, Romance",Greta Gerwig,"Saoirse Ronan, Emma Watson, Florence Pugh, Eli...","Greta Gerwig, Louisa May Alcott",$ 40000000,$ 108101214,$ 216601214,"Jo March reflects back and forth on her life, ..."
543,tt7653254,Storia di un matrimonio,História de um Casamento,2019,8.0,227338,94.0,137,"Comedy, Drama, Romance",Noah Baumbach,"Adam Driver, Scarlett Johansson, Julia Greer, ...",Noah Baumbach,$ 18600000,NaN,$ 333686,Noah Baumbach's incisive and compassionate loo...
544,tt8579674,1917,1917,2019,8.3,362897,78.0,119,"Drama, War",Sam Mendes,"Dean-Charles Chapman, George MacKay, Daniel Ma...","Sam Mendes, Krysty Wilson-Cairns",$ 95000000,$ 159227644,$ 384857224,"April 6th, 1917. As a regiment assembles to wa..."
545,tt7131622,C'era una volta a... Hollywood,Era uma vez em Hollywood,2019,7.6,507214,83.0,161,"Comedy, Drama",Quentin Tarantino,"Leonardo DiCaprio, Brad Pitt, Margot Robbie, E...",Quentin Tarantino,$ 90000000,$ 142502728,$ 374343626,A faded television actor and his stunt double ...
546,tt6751668,Parasite,Parasita,2019,8.6,470931,96.0,132,"Comedy, Drama, Thriller",Bong Joon Ho,"Kang-ho Song, Sun-kyun Lee, Yeo-jeong Jo, Woo-...","Bong Joon Ho, Bong Joon Ho",$ 11400000,$ 53369749,$ 257604912,Greed and class discrimination threaten the ne...

In [4]:
all_oscar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 547 entries, 0 to 546
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_title_id          547 non-null    object
 1   title                  547 non-null    object
 2   title_pt               547 non-null    object
 3   year                   547 non-null    int64
 4   avg_vote               547 non-null    float64
 5   votes                  547 non-null    int64
 6   metascore              374 non-null    float64
 7   runtime                547 non-null    int64
 8   genre                  547 non-null    object
 9   director               547 non-null    object
 10  actors                 547 non-null    object
 11  writer                 547 non-null    object
 12  budget                 431 non-null    object
 13  usa_gross_income       333 non-null    object
 14  worlwide_gross_income  351 non-null    object
 15  description            544 non-null    object
dtypes: float64(2), int64(3), object(11)
memory usage: 68.5+ KB

In [5]:
all_oscar.metascore.unique()

array([ 83.,  90.,  88.,  94.,  75.,  87.,  85.,  93.,  79.,  74.,  69.,
        71.,  99.,  81.,  96.,  76.,  80.,  86.,  72.,  73., 100.,  82.,
        77.,  95.,  63.,  46.,  84.,  62.,  89.,  92.,  53.,  78.,  70.,
        58.,  91.,  66.,  67.,  64.,  61.,  59.,  68.,  65.,  60.,  52.,
        57.,  97.,  55.,  nan,  42.,  51.,  34.,  48.,  56.,  98.,  49.])

In [6]:
all_oscar['metascore'] = all_oscar['metascore'].div(10).round(1)
all_oscar['metascore']

0      8.3
1      9.0
2      8.8
3      9.4
4      7.5
      ...
542    9.1
543    9.4
544    7.8
545    8.3
546    9.6
Name: metascore, Length: 547, dtype: float64

In [7]:
all_oscar.budget.unique()

array(['$ 50000000', '$ 35000000', '$ 15000000', '$ 10000000',
       '$ 30000000', '$ 19400000', '$ 100000000', '$ 4500000',
       'EUR 4000000', '$ 24000000', '$ 25000000', '$ 12000000',
       '$ 40000000', '$ 4000000', '$ 47000000', '$ 9000000',
       '$ 135000000', '$ 28000000', '$ 108000000', '$ 13000000',
       '$ 20000000', '$ 150000000', '$ 11000000', '$ 58800000',
       '$ 14000000', '$ 18000000', '$ 3300000', '$ 23000000',
       '$ 55000000', '$ 5000000', '$ 61000000', '$ 65000000',
       '$ 120000000', '$ 21000000', '$ 44500000', '$ 8900000',
       '$ 1800000', '$ 66000000', '$ 32000000', '$ 17000000',
       '$ 38000000', '$ 160000000', '$ 200000000', '$ 2000000',
       '$ 237000000', '$ 29000000', '$ 7000000', '$ 70000000',
       '$ 175000000', '$ 7500000', '$ 19000000', '$ 90000000',
       'GBP 9800000', '$ 8000000', '$ 110000000', '$ 16000000',
       '$ 6500000', '$ 94000000', '$ 87000000', '$ 45000000',
       '$ 58000000', '$ 93000000', '$ 19800000', '$ 1700000',
       '$ 48000000', '$ 103000000', '$ 52000000', '$ 60000000',
       '$ 3500000', '$ 27000000', '$ 5500000', '$ 72000000', '$ 31000000',
       '$ 3000000', '$ 4400000', '$ 22000000', '$ 44000000', '$ 41000000',
       'GBP 2300000', '$ 14400000', nan, '$ 54000000', '$ 16400000',
       'GBP 600000', 'GBP 23000000', '$ 6000000', '$ 10500000',
       '$ 24500000', '$ 6400000', 'GBP 1456000', '$ 9500000', '$ 7200000',
       '$ 2300000', '$ 31500000', '$ 7840000', '$ 960000', '$ 3800000',
       '$ 8500000', '$ 1300000', '$ 2200000', '$ 1600000', '$ 777000',
       '$ 400000', '$ 3600000', '$ 14100000', '$ 700000', '$ 2500000',
       '$ 3900000', '$ 800000', 'GBP 400000', '$ 8200000', '$ 783000',
       '$ 240000', '$ 1000000', '$ 4240000', '$ 500000', 'GBP 280000',
       '$ 2240000', '$ 778000', '$ 3319355', '$ 350000', '$ 5400000',
       '$ 13282712', '$ 4550000', '$ 1780000', '$ 343000', '$ 910000',
       '$ 1500000', '$ 1650000', '$ 2070000', '$ 3100000', '$ 3842000',
       '$ 730000', '$ 7623000', '$ 2723903', '$ 2295304', '$ 2258000',
       '$ 1400000', '$ 1752000', '$ 1631000', '$ 2600000', 'GBP 500000',
       '$ 1985000', '$ 3180000', 'GBP 350000', '$ 2100000', '$ 1200000',
       '$ 1696377', '$ 1250000', '$ 1453000', 'GBP 475000', '$ 3257000',
       '$ 927262', '$ 1210000', '$ 565000', '$ 950000', 'GBP 240000',
       '$ 826061', '$ 850000', '$ 1344000', '$ 1103000', 'GBP 132000',
       '$ 375000', '$ 839727', '$ 682495', '$ 1370000', '$ 1288000',
       '$ 3977000', '$ 1365000', '$ 2777000', '$ 392000', '$ 1644736',
       'GBP 87000', '$ 1900000', '$ 600000', '$ 762000', '$ 300000',
       '$ 1645000', '$ 1173639', '$ 2800000', '$ 326000', '$ 1050500',
       '$ 1950000', '$ 609000', '$ 243000', '$ 520000', '$ 263000',
       '$ 226408', '$ 1017400', '$ 325000', '$ 424000', 'GBP 60000',
       '$ 439000', '$ 200000', '$ 1180280', '$ 799520', '$ 195845',
       '$ 851000', '$ 1312636', '$ 1433000', '$ 414000', '$ 340691',
       '$ 650000', '$ 379000', '$ 36000000', '$ 97600000', '$ 159000000',
       '$ 18600000', '$ 95000000', '$ 11400000'], dtype=object)

In [8]:
all_oscar['budget'] = all_oscar['budget'].replace({r'\$':''}, regex = True)

In [9]:
all_oscar['budget'] = all_oscar['budget'].replace({r'GBP':''}, regex = True)
all_oscar['budget'] = all_oscar['budget'].replace({r'EUR':''}, regex = True)

In [10]:
all_oscar['budget']

0       50000000
1       35000000
2       15000000
3       10000000
4       30000000
         ...
542     40000000
543     18600000
544     95000000
545     90000000
546     11400000
Name: budget, Length: 547, dtype: object

In [11]:
all_oscar['usa_gross_income'] = all_oscar['usa_gross_income'].replace({r'\$':''}, regex = True)
all_oscar['usa_gross_income'] = all_oscar['usa_gross_income'].replace({r'GBP':''}, regex = True)
all_oscar['usa_gross_income'] = all_oscar['usa_gross_income'].replace({r'EUR':''}, regex = True)

In [12]:
all_oscar['worlwide_gross_income'] = all_oscar['worlwide_gross_income'].replace({r'\$':''}, regex = True)
all_oscar['worlwide_gross_income'] = all_oscar['worlwide_gross_income'].replace({r'GBP':''}, regex = True)
all_oscar['worlwide_gross_income'] = all_oscar['worlwide_gross_income'].replace({r'EUR':''}, regex = True)

In [13]:
all_oscar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 547 entries, 0 to 546
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_title_id          547 non-null    object
 1   title                  547 non-null    object
 2   title_pt               547 non-null    object
 3   year                   547 non-null    int64
 4   avg_vote               547 non-null    float64
 5   votes                  547 non-null    int64
 6   metascore              374 non-null    float64
 7   runtime                547 non-null    int64
 8   genre                  547 non-null    object
 9   director               547 non-null    object
 10  actors                 547 non-null    object
 11  writer                 547 non-null    object
 12  budget                 431 non-null    object
 13  usa_gross_income       333 non-null    object
 14  worlwide_gross_income  351 non-null    object
 15  description            544 non-null    object
dtypes: float64(2), int64(3), object(11)
memory usage: 68.5+ KB

In [14]:
all_oscar.year = [y.year for y in pd.to_datetime(all_oscar.year.astype('int'), format='%Y')]
all_oscar.reset_index(drop=True)

,imdb_title_id,title,title_pt,year,avg_vote,votes,metascore,runtime,genre,director,actors,writer,budget,usa_gross_income,worlwide_gross_income,description
0,tt6294822,The Post,The Post: A Guerra Secreta,2017,7.2,130017,8.3,116,Drama,Steven Spielberg,"Meryl Streep, Tom Hanks, Sarah Paulson, Bob Od...","Liz Hannah, Josh Singer",50000000,81903458,192938646,A cover-up spanning four U.S. Presidents pushe...
1,tt5776858,Il filo nascosto,Trama Fantasma,2017,7.5,106231,9.0,130,"Drama, Romance",Paul Thomas Anderson,"Vicky Krieps, Daniel Day-Lewis, Lesley Manvill...",Paul Thomas Anderson,35000000,21198205,47756590,"Set in 1950s London, Reynolds Woodcock is a re..."
2,tt5027774,"Tre manifesti a Ebbing, Missouri",Três Anúncios para um Crime,2017,8.2,411693,8.8,115,"Comedy, Crime, Drama",Martin McDonagh,"Frances McDormand, Caleb Landry Jones, Kerry C...",Martin McDonagh,15000000,54513740,160192031,A mother personally challenges the local autho...
3,tt4925292,Lady Bird,Lady Bird: A Hora de Voar,2017,7.4,228832,9.4,94,"Comedy, Drama",Greta Gerwig,"Saoirse Ronan, Laurie Metcalf, Tracy Letts, Lu...",Greta Gerwig,10000000,48958273,79097104,"In 2002, an artistically inclined seventeen-ye..."
4,tt4555426,L'ora più buia,O Destino de uma Nação,2017,7.4,165715,7.5,125,"Biography, Drama, History",Joe Wright,"Gary Oldman, Kristin Scott Thomas, Ben Mendels...",Anthony McCarten,30000000,56468410,153129891,"In May 1940, the fate of World War II hangs on"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
542,tt3281548,Piccole donne,Adoraveis Mulheres,2019,7.8,122387,9.1,135,"Drama, Romance",Greta Gerwig,"Saoirse Ronan, Emma Watson, Florence Pugh, Eli...","Greta Gerwig, Louisa May Alcott",40000000,108101214,216601214,"Jo March reflects back and forth on her life, ..."
543,tt7653254,Storia di un matrimonio,História de um Casamento,2019,8.0,227338,9.4,137,"Comedy, Drama, Romance",Noah Baumbach,"Adam Driver, Scarlett Johansson, Julia Greer, ...",Noah Baumbach,18600000,NaN,333686,Noah Baumbach's incisive and compassionate loo...
544,tt8579674,1917,1917,2019,8.3,362897,7.8,119,"Drama, War",Sam Mendes,"Dean-Charles Chapman, George MacKay, Daniel Ma...","Sam Mendes, Krysty Wilson-Cairns",95000000,159227644,384857224,"April 6th, 1917. As a regiment assembles to wa..."
545,tt7131622,C'era una volta a... Hollywood,Era uma vez em Hollywood,2019,7.6,507214,8.3,161,"Comedy, Drama",Quentin Tarantino,"Leonardo DiCaprio, Brad Pitt, Margot Robbie, E...",Quentin Tarantino,90000000,142502728,374343626,A faded television actor and his stunt double ...
546,tt6751668,Parasite,Parasita,2019,8.6,470931,9.6,132,"Comedy, Drama, Thriller",Bong Joon Ho,"Kang-ho Song, Sun-kyun Lee, Yeo-jeong Jo, Woo-...","Bong Joon Ho, Bong Joon Ho",11400000,53369749,257604912,Greed and class discrimination threaten the ne...

In [15]:
all_oscar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 547 entries, 0 to 546
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_title_id          547 non-null    object
 1   title                  547 non-null    object
 2   title_pt               547 non-null    object
 3   year                   547 non-null    int64
 4   avg_vote               547 non-null    float64
 5   votes                  547 non-null    int64
 6   metascore              374 non-null    float64
 7   runtime                547 non-null    int64
 8   genre                  547 non-null    object
 9   director               547 non-null    object
 10  actors                 547 non-null    object
 11  writer                 547 non-null    object
 12  budget                 431 non-null    object
 13  usa_gross_income       333 non-null    object
 14  worlwide_gross_income  351 non-null    object
 15  description            544 non-null    object
dtypes: float64(2), int64(3), object(11)
memory usage: 68.5+ KB

In [16]:
all_oscar.isnull().sum()

imdb_title_id              0
title                      0
title_pt                   0
year                       0
avg_vote                   0
votes                      0
metascore                173
runtime                    0
genre                      0
director                   0
actors                     0
writer                     0
budget                   116
usa_gross_income         214
worlwide_gross_income    196
description                3
dtype: int64

In [17]:
all_oscar2['budget'] = all_oscar['budget'].astype(str).astype(int)

ValueError: invalid literal for int() with base 10: 'nan'

In [ ]:
all_oscar.metascore = all_oscar.metascore.fillna(all_oscar.avg_vote)

In [18]:
all_oscar.isnull().sum()

imdb_title_id              0
title                      0
title_pt                   0
year                       0
avg_vote                   0
votes                      0
metascore                173
runtime                    0
genre                      0
director                   0
actors                     0
writer                     0
budget                   116
usa_gross_income         214
worlwide_gross_income    196
description                3
dtype: int64

In [19]:
all_oscar.budget = all_oscar.budget.fillna('0')

In [20]:
all_oscar.isnull().sum()

imdb_title_id              0
title                      0
title_pt                   0
year                       0
avg_vote                   0
votes                      0
metascore                173
runtime                    0
genre                      0
director                   0
actors                     0
writer                     0
budget                     0
usa_gross_income         214
worlwide_gross_income    196
description                3
dtype: int64

In [21]:
all_oscar.usa_gross_income  = all_oscar.usa_gross_income.fillna('0')
all_oscar.worlwide_gross_income  = all_oscar.worlwide_gross_income.fillna('0')
all_oscar.description  = all_oscar.description.fillna('0')

In [22]:
all_oscar.isnull().sum()

imdb_title_id              0
title                      0
title_pt                   0
year                       0
avg_vote                   0
votes                      0
metascore                173
runtime                    0
genre                      0
director                   0
actors                     0
writer                     0
budget                     0
usa_gross_income           0
worlwide_gross_income      0
description                0
dtype: int64

In [23]:
all_oscar['budget'] = all_oscar['budget'].astype(str)

In [24]:
all_oscar['budget'] = np.dtype('int64').type(all_oscar['budget'])

In [25]:
all_oscar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 547 entries, 0 to 546
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_title_id          547 non-null    object
 1   title                  547 non-null    object
 2   title_pt               547 non-null    object
 3   year                   547 non-null    int64
 4   avg_vote               547 non-null    float64
 5   votes                  547 non-null    int64
 6   metascore              374 non-null    float64
 7   runtime                547 non-null    int64
 8   genre                  547 non-null    object
 9   director               547 non-null    object
 10  actors                 547 non-null    object
 11  writer                 547 non-null    object
 12  budget                 547 non-null    int64
 13  usa_gross_income       547 non-null    object
 14  worlwide_gross_income  547 non-null    object
 15  description            547 non-null    object
dtypes: float64(2), int64(4), object(10)
memory usage: 68.5+ KB

In [26]:
all_oscar['usa_gross_income'] = all_oscar['usa_gross_income'].astype(str)

In [27]:
all_oscar['usa_gross_income'] = np.dtype('int64').type(all_oscar['usa_gross_income'])

In [28]:
all_oscar['worlwide_gross_income'] = all_oscar['worlwide_gross_income'].astype(str)

In [29]:
all_oscar['worlwide_gross_income'] = np.dtype('int64').type(all_oscar['worlwide_gross_income'])

In [30]:
all_oscar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 547 entries, 0 to 546
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_title_id          547 non-null    object
 1   title                  547 non-null    object
 2   title_pt               547 non-null    object
 3   year                   547 non-null    int64
 4   avg_vote               547 non-null    float64
 5   votes                  547 non-null    int64
 6   metascore              374 non-null    float64
 7   runtime                547 non-null    int64
 8   genre                  547 non-null    object
 9   director               547 non-null    object
 10  actors                 547 non-null    object
 11  writer                 547 non-null    object
 12  budget                 547 non-null    int64
 13  usa_gross_income       547 non-null    int64
 14  worlwide_gross_income  547 non-null    int64
 15  description            547 non-null    object
dtypes: float64(2), int64(6), object(8)
memory usage: 68.5+ KB

In [31]:
code_winners = pd.read_csv('code_winners.csv')

In [32]:
all_oscar2 = pd.merge(all_oscar, code_winners, on="imdb_title_id", how = 'outer').fillna(0)
all_oscar2

,imdb_title_id,title,title_pt,year,avg_vote,votes,metascore,runtime,genre,director,actors,writer,budget,usa_gross_income,worlwide_gross_income,description,win
0,tt6294822,The Post,The Post: A Guerra Secreta,2017.0,7.2,130017.0,8.3,116.0,Drama,Steven Spielberg,"Meryl Streep, Tom Hanks, Sarah Paulson, Bob Od...","Liz Hannah, Josh Singer",50000000.0,81903458.0,192938646.0,A cover-up spanning four U.S. Presidents pushe...,0.0
1,tt5776858,Il filo nascosto,Trama Fantasma,2017.0,7.5,106231.0,9.0,130.0,"Drama, Romance",Paul Thomas Anderson,"Vicky Krieps, Daniel Day-Lewis, Lesley Manvill...",Paul Thomas Anderson,35000000.0,21198205.0,47756590.0,"Set in 1950s London, Reynolds Woodcock is a re...",0.0
2,tt5027774,"Tre manifesti a Ebbing, Missouri",Três Anúncios para um Crime,2017.0,8.2,411693.0,8.8,115.0,"Comedy, Crime, Drama",Martin McDonagh,"Frances McDormand, Caleb Landry Jones, Kerry C...",Martin McDonagh,15000000.0,54513740.0,160192031.0,A mother personally challenges the local autho...,0.0
3,tt4925292,Lady Bird,Lady Bird: A Hora de Voar,2017.0,7.4,228832.0,9.4,94.0,"Comedy, Drama",Greta Gerwig,"Saoirse Ronan, Laurie Metcalf, Tracy Letts, Lu...",Greta Gerwig,10000000.0,48958273.0,79097104.0,"In 2002, an artistically inclined seventeen-ye...",0.0
4,tt4555426,L'ora più buia,O Destino de uma Nação,2017.0,7.4,165715.0,7.5,125.0,"Biography, Drama, History",Joe Wright,"Gary Oldman, Kristin Scott Thomas, Ben Mendels...",Anthony McCarten,30000000.0,56468410.0,153129891.0,"In May 1940, the fate of World War II hangs on",0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
545,tt7131622,C'era una volta a... Hollywood,Era uma vez em Hollywood,2019.0,7.6,507214.0,8.3,161.0,"Comedy, Drama",Quentin Tarantino,"Leonardo DiCaprio, Brad Pitt, Margot Robbie, E...",Quentin Tarantino,90000000.0,142502728.0,374343626.0,A faded television actor and his stunt double ...,0.0
546,tt6751668,Parasite,Parasita,2019.0,8.6,470931.0,9.6,132.0,"Comedy, Drama, Thriller",Bong Joon Ho,"Kang-ho Song, Sun-kyun Lee, Yeo-jeong Jo, Woo-...","Bong Joon Ho, Bong Joon Ho",11400000.0,53369749.0,257604912.0,Greed and class discrimination threaten the ne...,1.0
547,tt0887912,0,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0.0,0.0,0.0,0,1.0
548,tt0077416,0,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0.0,0.0,0.0,0,1.0
549,tt0018455,0,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0.0,0.0,0.0,0,1.0

In [33]:
all_oscar2 = all_oscar2.iloc[:-3 , :]

In [34]:
all_oscar2

,imdb_title_id,title,title_pt,year,avg_vote,votes,metascore,runtime,genre,director,actors,writer,budget,usa_gross_income,worlwide_gross_income,description,win
0,tt6294822,The Post,The Post: A Guerra Secreta,2017.0,7.2,130017.0,8.3,116.0,Drama,Steven Spielberg,"Meryl Streep, Tom Hanks, Sarah Paulson, Bob Od...","Liz Hannah, Josh Singer",50000000.0,81903458.0,192938646.0,A cover-up spanning four U.S. Presidents pushe...,0.0
1,tt5776858,Il filo nascosto,Trama Fantasma,2017.0,7.5,106231.0,9.0,130.0,"Drama, Romance",Paul Thomas Anderson,"Vicky Krieps, Daniel Day-Lewis, Lesley Manvill...",Paul Thomas Anderson,35000000.0,21198205.0,47756590.0,"Set in 1950s London, Reynolds Woodcock is a re...",0.0
2,tt5027774,"Tre manifesti a Ebbing, Missouri",Três Anúncios para um Crime,2017.0,8.2,411693.0,8.8,115.0,"Comedy, Crime, Drama",Martin McDonagh,"Frances McDormand, Caleb Landry Jones, Kerry C...",Martin McDonagh,15000000.0,54513740.0,160192031.0,A mother personally challenges the local autho...,0.0
3,tt4925292,Lady Bird,Lady Bird: A Hora de Voar,2017.0,7.4,228832.0,9.4,94.0,"Comedy, Drama",Greta Gerwig,"Saoirse Ronan, Laurie Metcalf, Tracy Letts, Lu...",Greta Gerwig,10000000.0,48958273.0,79097104.0,"In 2002, an artistically inclined seventeen-ye...",0.0
4,tt4555426,L'ora più buia,O Destino de uma Nação,2017.0,7.4,165715.0,7.5,125.0,"Biography, Drama, History",Joe Wright,"Gary Oldman, Kristin Scott Thomas, Ben Mendels...",Anthony McCarten,30000000.0,56468410.0,153129891.0,"In May 1940, the fate of World War II hangs on",0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
542,tt3281548,Piccole donne,Adoraveis Mulheres,2019.0,7.8,122387.0,9.1,135.0,"Drama, Romance",Greta Gerwig,"Saoirse Ronan, Emma Watson, Florence Pugh, Eli...","Greta Gerwig, Louisa May Alcott",40000000.0,108101214.0,216601214.0,"Jo March reflects back and forth on her life, ...",0.0
543,tt7653254,Storia di un matrimonio,História de um Casamento,2019.0,8.0,227338.0,9.4,137.0,"Comedy, Drama, Romance",Noah Baumbach,"Adam Driver, Scarlett Johansson, Julia Greer, ...",Noah Baumbach,18600000.0,0.0,333686.0,Noah Baumbach's incisive and compassionate loo...,0.0
544,tt8579674,1917,1917,2019.0,8.3,362897.0,7.8,119.0,"Drama, War",Sam Mendes,"Dean-Charles Chapman, George MacKay, Daniel Ma...","Sam Mendes, Krysty Wilson-Cairns",95000000.0,159227644.0,384857224.0,"April 6th, 1917. As a regiment assembles to wa...",0.0
545,tt7131622,C'era una volta a... Hollywood,Era uma vez em Hollywood,2019.0,7.6,507214.0,8.3,161.0,"Comedy, Drama",Quentin Tarantino,"Leonardo DiCaprio, Brad Pitt, Margot Robbie, E...",Quentin Tarantino,90000000.0,142502728.0,374343626.0,A faded television actor and his stunt double ...,0.0
546,tt6751668,Parasite,Parasita,2019.0,8.6,470931.0,9.6,132.0,"Comedy, Drama, Thriller",Bong Joon Ho,"Kang-ho Song, Sun-kyun Lee, Yeo-jeong Jo, Woo-...","Bong Joon Ho, Bong Joon Ho",11400000.0,53369749.0,257604912.0,Greed and class discrimination threaten the ne...,1.0

In [35]:
all_oscar2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 547 entries, 0 to 546
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_title_id          547 non-null    object
 1   title                  547 non-null    object
 2   title_pt               547 non-null    object
 3   year                   547 non-null    float64
 4   avg_vote               547 non-null    float64
 5   votes                  547 non-null    float64
 6   metascore              547 non-null    float64
 7   runtime                547 non-null    float64
 8   genre                  547 non-null    object
 9   director               547 non-null    object
 10  actors                 547 non-null    object
 11  writer                 547 non-null    object
 12  budget                 547 non-null    float64
 13  usa_gross_income       547 non-null    float64
 14  worlwide_gross_income  547 non-null    float64
 15  description            547 non-null    object
 16  win                    547 non-null    float64
dtypes: float64(9), object(8)
memory usage: 76.9+ KB

In [37]:
all_oscar2.to_csv('C:/Users/gisiq/Documents/Cursos/Ironhack/projeto_final/oscar_historic_clean.csv', index=False)

In [47]:
nome  = pd.read_csv('C:/Users/gisiq/Documents/Cursos/Ironhack/projeto_final/datasets_atual/oscar_2021_clean.csv')

In [48]:
nome

,imdb_title_id,title,title_pt,year,avg_vote,votes,metascore,runtime,genre,director,actors,writer,budget,usa_gross_income,worlwide_gross_income,description,win
0,tt10633456,Minari,Minari,2020,8.0,167,8.8,115,Drama,Lee Isaac Chung,"Steven Yeun, Yeri Han, Yuh-Jung Youn, Alan S. ...",Lee Isaac Chung,2000000,11000000,11000000,A Korean family moves to Arkansas to start a f...,0
1,tt9620292,Promising Young Woman,Bela Vingança,2020,6.5,349,7.4,113,"Comedy, Crime, Drama",Emerald Fennell,"Carey Mulligan, Bo Burnham, Laverne Cox, Clanc...",Emerald Fennell,2000000,5808915,10912915,"A young woman, traumatized by a tragic event i...",0
2,tt5363618,Sound of Metal,O Som do Silêncio,2020,6.9,307,8.7,130,"Drama, Music",Darius Marder,"Olivia Cooke, Riz Ahmed, Mathieu Amalric, Laur...","Derek Cianfrance, Abraham Marder",1000000,180000,180000,A heavy-metal drummer's life is thrown into fr...,0
3,tt10272386,The Father,Meu Pai,2020,8.2,148,8.7,97,Drama,Florian Zeller,"Anthony Hopkins, Olivia Colman, Olivia William...","Christopher Hampton, Florian Zeller",20000000,5100000,5100000,A man refuses all assistance from his daughter...,0
4,tt9784798,Judas and the Black Messiah,Judas e o Messias Negro,2020,7.6,37135,8.5,126,"Biography, Drama, History",Shaka King,"Daniel Kaluuya, LaKeith Stanfield, Jesse Plemons",Will Berson,26000000,5352415,6057415,Bill O'Neal infiltrates the Black Panther Part...,0
5,tt9770150,Nomadland,Nomadland,2020,7.5,56344,9.3,107,"Biography, Drama, History",Chloé Zhao,"Frances McDormand, David Strathairn, Linda May",Jessica Bruder,5000000,2143000,5074445,"A woman in her sixties who, after losing every...",0
6,tt1070874,The Trial of the Chicago 7,Os 7 de Chicago,2020,7.8,131684,7.6,129,"Drama, History, Thriller",Aaron Sorkin,"Eddie Redmayne, Alex Sharp, Sacha Baron Cohen",Aaron Sorkin,35000000,115000,115000,The story of 7 people on trial stemming from v...,0
7,tt10618286,Mank,Mank,2020,7.0,54050,7.9,131,"Biography, Comedy, Drama",David Fincher,"Gary Oldman, Amanda Seyfried, Lily Collins",Jack Fincher,25000000,122000,122000,1930's Hollywood is reevaluated through the ey...,0

In [49]:
oscar_model = pd.concat([all_oscar2, nome])

In [50]:
oscar_model

,imdb_title_id,title,title_pt,year,avg_vote,votes,metascore,runtime,genre,director,actors,writer,budget,usa_gross_income,worlwide_gross_income,description,win
0,tt6294822,The Post,The Post: A Guerra Secreta,2017.0,7.2,130017.0,8.3,116.0,Drama,Steven Spielberg,"Meryl Streep, Tom Hanks, Sarah Paulson, Bob Od...","Liz Hannah, Josh Singer",50000000.0,81903458.0,192938646.0,A cover-up spanning four U.S. Presidents pushe...,0.0
1,tt5776858,Il filo nascosto,Trama Fantasma,2017.0,7.5,106231.0,9.0,130.0,"Drama, Romance",Paul Thomas Anderson,"Vicky Krieps, Daniel Day-Lewis, Lesley Manvill...",Paul Thomas Anderson,35000000.0,21198205.0,47756590.0,"Set in 1950s London, Reynolds Woodcock is a re...",0.0
2,tt5027774,"Tre manifesti a Ebbing, Missouri",Três Anúncios para um Crime,2017.0,8.2,411693.0,8.8,115.0,"Comedy, Crime, Drama",Martin McDonagh,"Frances McDormand, Caleb Landry Jones, Kerry C...",Martin McDonagh,15000000.0,54513740.0,160192031.0,A mother personally challenges the local autho...,0.0
3,tt4925292,Lady Bird,Lady Bird: A Hora de Voar,2017.0,7.4,228832.0,9.4,94.0,"Comedy, Drama",Greta Gerwig,"Saoirse Ronan, Laurie Metcalf, Tracy Letts, Lu...",Greta Gerwig,10000000.0,48958273.0,79097104.0,"In 2002, an artistically inclined seventeen-ye...",0.0
4,tt4555426,L'ora più buia,O Destino de uma Nação,2017.0,7.4,165715.0,7.5,125.0,"Biography, Drama, History",Joe Wright,"Gary Oldman, Kristin Scott Thomas, Ben Mendels...",Anthony McCarten,30000000.0,56468410.0,153129891.0,"In May 1940, the fate of World War II hangs on",0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3,tt10272386,The Father,Meu Pai,2020.0,8.2,148.0,8.7,97.0,Drama,Florian Zeller,"Anthony Hopkins, Olivia Colman, Olivia William...","Christopher Hampton, Florian Zeller",20000000.0,5100000.0,5100000.0,A man refuses all assistance from his daughter...,0.0
4,tt9784798,Judas and the Black Messiah,Judas e o Messias Negro,2020.0,7.6,37135.0,8.5,126.0,"Biography, Drama, History",Shaka King,"Daniel Kaluuya, LaKeith Stanfield, Jesse Plemons",Will Berson,26000000.0,5352415.0,6057415.0,Bill O'Neal infiltrates the Black Panther Part...,0.0
5,tt9770150,Nomadland,Nomadland,2020.0,7.5,56344.0,9.3,107.0,"Biography, Drama, History",Chloé Zhao,"Frances McDormand, David Strathairn, Linda May",Jessica Bruder,5000000.0,2143000.0,5074445.0,"A woman in her sixties who, after losing every...",0.0
6,tt1070874,The Trial of the Chicago 7,Os 7 de Chicago,2020.0,7.8,131684.0,7.6,129.0,"Drama, History, Thriller",Aaron Sorkin,"Eddie Redmayne, Alex Sharp, Sacha Baron Cohen",Aaron Sorkin,35000000.0,115000.0,115000.0,The story of 7 people on trial stemming from v...,0.0
7,tt10618286,Mank,Mank,2020.0,7.0,54050.0,7.9,131.0,"Biography, Comedy, Drama",David Fincher,"Gary Oldman, Amanda Seyfried, Lily Collins",Jack Fincher,25000000.0,122000.0,122000.0,1930's Hollywood is reevaluated through the ey...,0.0

In [57]:
oscar_model['year'] = oscar_model['year'].apply(np.int64)
oscar_model['win'] = oscar_model['win'].apply(np.int64)

In [58]:
oscar_model.to_csv('C:/Users/gisiq/Documents/Cursos/Ironhack/projeto_final/oscar_model.csv', index=False)

In [28]:
extra_info1 = pd.read_csv('C:/Users/gisiq/Documents/Cursos/Ironhack/projeto_final/data/New folder/workshop-notebooks-master/notebooks/oscars/train.csv')

In [29]:
extra_info1

,Year,Movie,Won?,Budget,Opening Weekend,IMDB Rating,Genres,Won Golden Globe,Won Bafta,Oscar Nominations,Golden Globe Nominations,Bafta Nominations,IMdB id,Won Producers,Won Directors,Won Actors,Rate,Metascore
0,2017,Call Me By Your Name,0,3500000.0,412932.0,8.3,"Drama, Romance",0,0,4,3,4,tt5726616,0,0,0,R,93.0
1,2017,Darkest Hour,0,30000000.0,2993519.0,7.4,"Biography, Drama, History",0,0,6,1,9,tt4555426,0,0,0,PG-13,75.0
2,2017,Dunkirk,0,100000000.0,50513488.0,8.1,"Action, Drama, History",0,0,8,3,8,tt5013056,0,0,0,PG-13,94.0
3,2017,Get Out,0,4500000.0,33377060.0,7.7,"Horror, Mystery, Thriller",0,0,4,2,2,tt5052448,0,0,0,R,84.0
4,2017,Lady Bird,0,10000000.0,364437.0,7.9,"Comedy, Drama",1,0,5,4,1,tt4925292,0,0,0,R,94.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
221,1975,Barry Lyndon,0,11000000.0,NaN,8.1,"Adventure, Drama, History, War",0,0,7,2,5,tt0072684,0,0,0,PG,NaN
222,1975,Dog Day Afternoon,0,1800000.0,NaN,8.0,"Biography, Crime, Drama, Thriller",0,1,6,7,6,tt0072890,0,0,0,R,NaN
223,1975,Jaws,0,8000000.0,7061513.0,8.0,"Adventure, Drama, Thriller",0,0,4,4,7,tt0073195,0,0,0,PG,86.0
224,1975,Nashville,0,2200000.0,NaN,7.8,"Comedy, Drama, Music",0,0,5,11,5,tt0073440,0,0,0,R,NaN
225,1975,One Flew over the Cuckoo's Nest,1,4400000.0,99761.0,8.7,Drama,1,1,9,6,10,tt0073486,0,1,0,R,79.0

In [30]:
extra_info1 = extra_info1[['IMdB id', 'Won Golden Globe', 'Won Bafta', 'Oscar Nominations','Golden Globe Nominations', 'Bafta Nominations','Won Directors','Won Actors']]

In [31]:
extra_info1

,IMdB id,Won Golden Globe,Won Bafta,Oscar Nominations,Golden Globe Nominations,Bafta Nominations,Won Directors,Won Actors
0,tt5726616,0,0,4,3,4,0,0
1,tt4555426,0,0,6,1,9,0,0
2,tt5013056,0,0,8,3,8,0,0
3,tt5052448,0,0,4,2,2,0,0
4,tt4925292,1,0,5,4,1,0,0
...,...,...,...,...,...,...,...,...
221,tt0072684,0,0,7,2,5,0,0
222,tt0072890,0,1,6,7,6,0,0
223,tt0073195,0,0,4,4,7,0,0
224,tt0073440,0,0,5,11,5,0,0
225,tt0073486,1,1,9,6,10,1,0

In [32]:
extra_info2 = pd.read_csv('C:/Users/gisiq/Documents/Cursos/Ironhack/projeto_final/data/New folder/workshop-notebooks-master/notebooks/oscars/test.csv')

In [33]:
extra_info2

,Year,Movie,Won?,Budget,Opening Weekend,IMDB Rating,Genres,Won Golden Globe,Won Bafta,Oscar Nominations,Golden Globe Nominations,Bafta Nominations,IMdB id,Won Producers,Won Directors,Won Actors,Rate,Metascore
0,2018,A Star is Born,NaN,36000000.0,42908051.0,7.9,"Drama, Music, Romance",0,0,8,5,7,tt1517451,0,0,0,R,88.0
1,2018,BlacKkKclansman,NaN,15000000.0,10845330.0,7.5,"Biography, Drama, History",0,0,6,4,5,tt7349662,0,0,0,R,83.0
2,2018,Black Panther,NaN,200000000.0,202003051.0,7.4,"Action, Drama, History",0,0,7,3,1,tt1825683,0,0,1,PG-13,88.0
3,2018,Bohemian Rhapsody,NaN,52000000.0,51061119.0,NaN,"Horror, Mystery, Thriller",1,0,5,2,7,tt1727824,0,0,0,PG-13,49.0
4,2018,Green Book,NaN,23000000.0,320429.0,8.3,"Comedy, Drama",1,0,5,5,4,tt6966692,1,0,0,PG-13,69.0
5,2018,Roma,NaN,15000000.0,100000.0,7.9,Drama,0,1,10,3,7,tt6155172,0,1,0,R,96.0
6,2018,The Favourite,NaN,15000000.0,422410.0,7.8,"Biography, Drama, History",0,0,10,5,12,tt5083738,0,0,0,R,90.0
7,2018,Vice,NaN,60000000.0,7768371.0,7.1,"Adventure, Drama, Fantasy",0,0,8,6,6,tt6266538,0,0,0,R,61.0
8,2009,Avatar,0.0,237000000.0,77025481.0,7.8,"Action, Adventure, Fantasy, Sci-Fi",1,0,9,4,8,tt0499549,0,0,0,PG-13,83.0
9,2009,The Blind Side,0.0,29000000.0,34119372.0,7.7,"Biography, Drama, Sport",0,0,2,1,0,tt0878804,0,0,0,PG-13,53.0
10,2009,District 9,0.0,30000000.0,37354308.0,8.0,"Action, Sci-Fi, Thriller",0,0,4,1,7,tt1136608,0,0,0,R,81.0
11,2009,An Education,0.0,4500000.0,NaN,7.3,Drama,0,0,3,1,8,tt1174732,0,0,0,PG-13,85.0
12,2009,The Hurt Locker,1.0,15000000.0,145352.0,7.6,"Drama, History, Thriller, War",0,1,9,3,8,tt0887912,1,1,0,R,94.0
13,2009,Inglourious Basterds,0.0,75000000.0,38054676.0,8.3,"Adventure, Drama, War",0,0,8,4,6,tt0361748,0,0,1,R,69.0
14,2009,Precious: Based on the Novel 'Push' by Sapphire,0.0,10000000.0,10881772.0,7.3,Drama,0,0,6,3,4,tt0929632,0,0,0,R,79.0
15,2009,A Serious Man,0.0,7000000.0,251337.0,7.0,"Comedy, Drama",0,0,2,1,1,tt1019452,0,0,0,R,79.0
16,2009,Up,0.0,175000000.0,68108790.0,8.3,"Animation, Adventure, Comedy, Family",0,0,5,2,4,tt1049413,1,0,0,PG,88.0
17,2009,Up in the Air,0.0,25000000.0,1181450.0,7.4,"Drama, Romance",0,0,6,6,6,tt1193138,0,0,0,R,83.0
18,1996,The English Patient,1.0,27000000.0,278439.0,7.4,"Drama, Romance, War",1,1,12,7,13,tt0116209,1,1,0,R,87.0
19,1996,Fargo,0.0,7000000.0,730265.0,8.1,"Crime, Drama, Thriller",0,0,7,4,6,tt0116282,0,0,0,R,85.0
20,1996,Jerry Maguire,0.0,50000000.0,17084296.0,7.3,"Comedy, Drama, Romance, Sport",0,0,5,3,0,tt0116695,0,0,0,R,77.0
21,1996,Secrets & Lies,0.0,NaN,2931762.0,6.0,Drama,0,0,0,1,0,tt0120323,0,0,0,R,NaN
22,1996,Shine,0.0,5500000.0,162179.0,7.7,"Biography, Drama, Music, Romance",0,0,7,5,9,tt0117631,0,0,0,PG-13,87.0
23,1984,Amadeus,1.0,18000000.0,86764.0,8.3,"Biography, Drama, History, Music",1,0,11,6,9,tt0086879,0,1,0,R,93.0
24,1984,The Killing Fields,0.0,NaN,32181.0,7.9,"Biography, Drama, History, War",0,1,7,6,13,tt0087553,0,0,0,R,NaN
25,1984,A Passage to India,0.0,16000000.0,84580.0,7.4,"Adventure, Drama, History",0,0,11,5,9,tt0087892,0,0,0,PG,NaN
26,1984,Places in the Heart,0.0,NaN,NaN,7.3,Drama,0,0,7,3,0,tt0087921,0,0,0,PG,NaN
27,1984,A Soldier's Story,0.0,6000000.0,156383.0,7.2,"Crime, Drama, Mystery, War",0,0,3,3,0,tt0088146,0,0,0,PG,NaN
28,1976,All the President's Men,0.0,8500000.0,NaN,8.0,"Biography, Drama, History, Thriller",0,0,8,4,10,tt0074119,0,0,0,PG,NaN
29,1976,Bound for Glory,0.0,NaN,NaN,7.4,"Biography, Drama, Music",0,0,6,4,0,tt0074235,0,0,0,PG,NaN
30,1976,Network,0.0,3800000.0,NaN,8.1,Drama,0,0,10,5,9,tt0074958,0,0,0,R,88.0
31,1976,Rocky,1.0,960000.0,5000000.0,8.1,"Drama, Sport",1,0,10,6,5,tt0075148,0,1,0,PG,NaN
32,1976,Taxi Driver,0.0,1300000.0,NaN,8.3,"Crime, Drama",0,0,4,2,7,tt0075314,0,0,0,R,93.0

In [34]:
extra_info2 = extra_info2[['IMdB id', 'Won Golden Globe', 'Won Bafta', 'Oscar Nominations','Golden Globe Nominations', 'Bafta Nominations','Won Directors','Won Actors']]

In [35]:
extra = extra_info1.append(extra_info2, ignore_index=True)

In [36]:
extra

,IMdB id,Won Golden Globe,Won Bafta,Oscar Nominations,Golden Globe Nominations,Bafta Nominations,Won Directors,Won Actors
0,tt5726616,0,0,4,3,4,0,0
1,tt4555426,0,0,6,1,9,0,0
2,tt5013056,0,0,8,3,8,0,0
3,tt5052448,0,0,4,2,2,0,0
4,tt4925292,1,0,5,4,1,0,0
...,...,...,...,...,...,...,...,...
254,tt0074119,0,0,8,4,10,0,0
255,tt0074235,0,0,6,4,0,0,0
256,tt0074958,0,0,10,5,9,0,0
257,tt0075148,1,0,10,6,5,1,0
258,tt0075314,0,0,4,2,7,0,0

In [37]:
extra.rename(columns={'IMdB id':'imdb_title_id'}, inplace=True)

In [77]:
oscar_model = pd.read_csv('C:/Users/gisiq/Documents/Cursos/Ironhack/projeto_final/oscar_model.csv')

In [78]:
oscar_model_extra = pd.merge(left=oscar_model, right=extra, how='left', left_on='imdb_title_id', right_on='imdb_title_id')
oscar_model_extra

,imdb_title_id,title,title_pt,year,avg_vote,votes,metascore,runtime,genre,director,...,worlwide_gross_income,description,win,Won Golden Globe,Won Bafta,Oscar Nominations,Golden Globe Nominations,Bafta Nominations,Won Directors,Won Actors
0,tt6294822,The Post,The Post: A Guerra Secreta,2017,7.2,130017.0,8.3,116.0,Drama,Steven Spielberg,...,192938646.0,A cover-up spanning four U.S. Presidents pushe...,0,0.0,0.0,2.0,6.0,0.0,0.0,0.0
1,tt5776858,Il filo nascosto,Trama Fantasma,2017,7.5,106231.0,9.0,130.0,"Drama, Romance",Paul Thomas Anderson,...,47756590.0,"Set in 1950s London, Reynolds Woodcock is a re...",0,0.0,0.0,6.0,2.0,4.0,0.0,0.0
2,tt5027774,"Tre manifesti a Ebbing, Missouri",Três Anúncios para um Crime,2017,8.2,411693.0,8.8,115.0,"Comedy, Crime, Drama",Martin McDonagh,...,160192031.0,A mother personally challenges the local autho...,0,1.0,1.0,9.0,6.0,9.0,0.0,1.0
3,tt4925292,Lady Bird,Lady Bird: A Hora de Voar,2017,7.4,228832.0,9.4,94.0,"Comedy, Drama",Greta Gerwig,...,79097104.0,"In 2002, an artistically inclined seventeen-ye...",0,1.0,0.0,5.0,4.0,1.0,0.0,0.0
4,tt4555426,L'ora più buia,O Destino de uma Nação,2017,7.4,165715.0,7.5,125.0,"Biography, Drama, History",Joe Wright,...,153129891.0,"In May 1940, the fate of World War II hangs on",0,0.0,0.0,6.0,1.0,9.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
550,tt10272386,The Father,Meu Pai,2020,8.2,148.0,8.7,97.0,Drama,Florian Zeller,...,5100000.0,A man refuses all assistance from his daughter...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
551,tt9784798,Judas and the Black Messiah,Judas e o Messias Negro,2020,7.6,37135.0,8.5,126.0,"Biography, Drama, History",Shaka King,...,6057415.0,Bill O'Neal infiltrates the Black Panther Part...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
552,tt9770150,Nomadland,Nomadland,2020,7.5,56344.0,9.3,107.0,"Biography, Drama, History",Chloé Zhao,...,5074445.0,"A woman in her sixties who, after losing every...",0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
553,tt1070874,The Trial of the Chicago 7,Os 7 de Chicago,2020,7.8,131684.0,7.6,129.0,"Drama, History, Thriller",Aaron Sorkin,...,115000.0,The story of 7 people on trial stemming from v...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
554,tt10618286,Mank,Mank,2020,7.0,54050.0,7.9,131.0,"Biography, Comedy, Drama",David Fincher,...,122000.0,1930's Hollywood is reevaluated through the ey...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [80]:
oscar_model_extra.keys()

Index(['imdb_title_id', 'title', 'title_pt', 'year', 'avg_vote', 'votes',
       'metascore', 'runtime', 'genre', 'director', 'actors', 'writer',
       'budget', 'usa_gross_income', 'worlwide_gross_income', 'description',
       'win', 'Won Golden Globe', 'Won Bafta', 'Oscar Nominations',
       'Golden Globe Nominations', 'Bafta Nominations', 'Won Directors',
       'Won Actors'],
      dtype='object')

In [83]:
oscar_model_info_last2 = oscar_model_extra.loc[oscar_model_final['year'] >= 2019]

In [93]:
oscar_model_info_last2

,imdb_title_id,title,title_pt,year,avg_vote,votes,metascore,runtime,genre,director,...,worlwide_gross_income,description,win,Won Golden Globe,Won Bafta,Oscar Nominations,Golden Globe Nominations,Bafta Nominations,Won Directors,Won Actors
538,tt1950186,Le Mans '66 - La grande sfida,Ford v. Ferrari,2019,8.1,251782.0,8.1,152.0,"Action, Biography, Drama",James Mangold,...,2.255082e+08,American car designer,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
539,tt1302006,The Irishman,O Irlandes,2019,7.9,304528.0,9.4,209.0,"Biography, Crime, Drama",Martin Scorsese,...,9.688530e+05,An old man recalls his time painting houses fo...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
540,tt2584384,Jojo Rabbit,Jojo Rabbit,2019,7.9,253681.0,5.8,108.0,"Comedy, Drama, War",Taika Waititi,...,9.033502e+07,A young boy in Hitler's army finds out his mot...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
541,tt7286456,Joker,Coringa,2019,8.5,855097.0,5.9,122.0,"Crime, Drama, Thriller",Todd Phillips,...,1.074251e+09,"In Gotham City, mentally troubled comedian Art...",0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
542,tt3281548,Piccole donne,Adoraveis Mulheres,2019,7.8,122387.0,9.1,135.0,"Drama, Romance",Greta Gerwig,...,2.166012e+08,"Jo March reflects back and forth on her life, ...",0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
543,tt7653254,Storia di un matrimonio,História de um Casamento,2019,8.0,227338.0,9.4,137.0,"Comedy, Drama, Romance",Noah Baumbach,...,3.336860e+05,Noah Baumbach's incisive and compassionate loo...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
544,tt8579674,1917,1917,2019,8.3,362897.0,7.8,119.0,"Drama, War",Sam Mendes,...,3.848572e+08,"April 6th, 1917. As a regiment assembles to wa...",0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
545,tt7131622,C'era una volta a... Hollywood,Era uma vez em Hollywood,2019,7.6,507214.0,8.3,161.0,"Comedy, Drama",Quentin Tarantino,...,3.743436e+08,A faded television actor and his stunt double ...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
546,tt6751668,Parasite,Parasita,2019,8.6,470931.0,9.6,132.0,"Comedy, Drama, Thriller",Bong Joon Ho,...,2.576049e+08,Greed and class discrimination threaten the ne...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
547,tt10633456,Minari,Minari,2020,8.0,167.0,8.8,115.0,Drama,Lee Isaac Chung,...,1.100000e+07,A Korean family moves to Arkansas to start a f...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
548,tt9620292,Promising Young Woman,Bela Vingança,2020,6.5,349.0,7.4,113.0,"Comedy, Crime, Drama",Emerald Fennell,...,1.091292e+07,"A young woman, traumatized by a tragic event i...",0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
549,tt5363618,Sound of Metal,O Som do Silêncio,2020,6.9,307.0,8.7,130.0,"Drama, Music",Darius Marder,...,1.800000e+05,A heavy-metal drummer's life is thrown into fr...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
550,tt10272386,The Father,Meu Pai,2020,8.2,148.0,8.7,97.0,Drama,Florian Zeller,...,5.100000e+06,A man refuses all assistance from his daughter...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
551,tt9784798,Judas and the Black Messiah,Judas e o Messias Negro,2020,7.6,37135.0,8.5,126.0,"Biography, Drama, History",Shaka King,...,6.057415e+06,Bill O'Neal infiltrates the Black Panther Part...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
552,tt9770150,Nomadland,Nomadland,2020,7.5,56344.0,9.3,107.0,"Biography, Drama, History",Chloé Zhao,...,5.074445e+06,"A woman in her sixties who, after losing every...",0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
553,tt1070874,The Trial of the Chicago 7,Os 7 de Chicago,2020,7.8,131684.0,7.6,129.0,"Drama, History, Thriller",Aaron Sorkin,...,1.150000e+05,The story of 7 people on trial stemming from v...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
554,tt10618286,Mank,Mank,2020,7.0,54050.0,7.9,131.0,"Biography, Comedy, Drama",David Fincher,...,1.220000e+05,1930's Hollywood is reevaluated through the ey...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [99]:
oscar_model_info_last2y = oscar_model_info_last2.drop(columns=['Won Golden Globe','Won Bafta','Oscar Nominations','Golden Globe Nominations','Bafta Nominations','Won Directors','Won Actors'])

In [100]:
oscar_model_info_last2y

,imdb_title_id,title,title_pt,year,avg_vote,votes,metascore,runtime,genre,director,actors,writer,budget,usa_gross_income,worlwide_gross_income,description,win
538,tt1950186,Le Mans '66 - La grande sfida,Ford v. Ferrari,2019,8.1,251782.0,8.1,152.0,"Action, Biography, Drama",James Mangold,"Matt Damon, Christian Bale, Jon Bernthal, Cait...","Jez Butterworth, John-Henry Butterworth",97600000.0,117624357.0,2.255082e+08,American car designer,0
539,tt1302006,The Irishman,O Irlandes,2019,7.9,304528.0,9.4,209.0,"Biography, Crime, Drama",Martin Scorsese,"Robert De Niro, Al Pacino, Joe Pesci, Harvey K...","Steven Zaillian, Charles Brandt",159000000.0,0.0,9.688530e+05,An old man recalls his time painting houses fo...,0
540,tt2584384,Jojo Rabbit,Jojo Rabbit,2019,7.9,253681.0,5.8,108.0,"Comedy, Drama, War",Taika Waititi,"Roman Griffin Davis, Thomasin McKenzie, Scarle...","Christine Leunens, Taika Waititi",14000000.0,33370906.0,9.033502e+07,A young boy in Hitler's army finds out his mot...,0
541,tt7286456,Joker,Coringa,2019,8.5,855097.0,5.9,122.0,"Crime, Drama, Thriller",Todd Phillips,"Joaquin Phoenix, Robert De Niro, Zazie Beetz, ...","Todd Phillips, Scott Silver",55000000.0,335451311.0,1.074251e+09,"In Gotham City, mentally troubled comedian Art...",0
542,tt3281548,Piccole donne,Adoraveis Mulheres,2019,7.8,122387.0,9.1,135.0,"Drama, Romance",Greta Gerwig,"Saoirse Ronan, Emma Watson, Florence Pugh, Eli...","Greta Gerwig, Louisa May Alcott",40000000.0,108101214.0,2.166012e+08,"Jo March reflects back and forth on her life, ...",0
543,tt7653254,Storia di un matrimonio,História de um Casamento,2019,8.0,227338.0,9.4,137.0,"Comedy, Drama, Romance",Noah Baumbach,"Adam Driver, Scarlett Johansson, Julia Greer, ...",Noah Baumbach,18600000.0,0.0,3.336860e+05,Noah Baumbach's incisive and compassionate loo...,0
544,tt8579674,1917,1917,2019,8.3,362897.0,7.8,119.0,"Drama, War",Sam Mendes,"Dean-Charles Chapman, George MacKay, Daniel Ma...","Sam Mendes, Krysty Wilson-Cairns",95000000.0,159227644.0,3.848572e+08,"April 6th, 1917. As a regiment assembles to wa...",0
545,tt7131622,C'era una volta a... Hollywood,Era uma vez em Hollywood,2019,7.6,507214.0,8.3,161.0,"Comedy, Drama",Quentin Tarantino,"Leonardo DiCaprio, Brad Pitt, Margot Robbie, E...",Quentin Tarantino,90000000.0,142502728.0,3.743436e+08,A faded television actor and his stunt double ...,0
546,tt6751668,Parasite,Parasita,2019,8.6,470931.0,9.6,132.0,"Comedy, Drama, Thriller",Bong Joon Ho,"Kang-ho Song, Sun-kyun Lee, Yeo-jeong Jo, Woo-...","Bong Joon Ho, Bong Joon Ho",11400000.0,53369749.0,2.576049e+08,Greed and class discrimination threaten the ne...,1
547,tt10633456,Minari,Minari,2020,8.0,167.0,8.8,115.0,Drama,Lee Isaac Chung,"Steven Yeun, Yeri Han, Yuh-Jung Youn, Alan S. ...",Lee Isaac Chung,2000000.0,11000000.0,1.100000e+07,A Korean family moves to Arkansas to start a f...,0
548,tt9620292,Promising Young Woman,Bela Vingança,2020,6.5,349.0,7.4,113.0,"Comedy, Crime, Drama",Emerald Fennell,"Carey Mulligan, Bo Burnham, Laverne Cox, Clanc...",Emerald Fennell,2000000.0,5808915.0,1.091292e+07,"A young woman, traumatized by a tragic event i...",0
549,tt5363618,Sound of Metal,O Som do Silêncio,2020,6.9,307.0,8.7,130.0,"Drama, Music",Darius Marder,"Olivia Cooke, Riz Ahmed, Mathieu Amalric, Laur...","Derek Cianfrance, Abraham Marder",1000000.0,180000.0,1.800000e+05,A heavy-metal drummer's life is thrown into fr...,0
550,tt10272386,The Father,Meu Pai,2020,8.2,148.0,8.7,97.0,Drama,Florian Zeller,"Anthony Hopkins, Olivia Colman, Olivia William...","Christopher Hampton, Florian Zeller",20000000.0,5100000.0,5.100000e+06,A man refuses all assistance from his daughter...,0
551,tt9784798,Judas and the Black Messiah,Judas e o Messias Negro,2020,7.6,37135.0,8.5,126.0,"Biography, Drama, History",Shaka King,"Daniel Kaluuya, LaKeith Stanfield, Jesse Plemons",Will Berson,26000000.0,5352415.0,6.057415e+06,Bill O'Neal infiltrates the Black Panther Part...,0
552,tt9770150,Nomadland,Nomadland,2020,7.5,56344.0,9.3,107.0,"Biography, Drama, History",Chloé Zhao,"Frances McDormand, David Strathairn, Linda May",Jessica Bruder,5000000.0,2143000.0,5.074445e+06,"A woman in her sixties who, after losing every...",0
553,tt1070874,The Trial of the Chicago 7,Os 7 de Chicago,2020,7.8,131684.0,7.6,129.0,"Drama, History, Thriller",Aaron Sorkin,"Eddie Redmayne, Alex Sharp, Sacha Baron Cohen",Aaron Sorkin,35000000.0,115000.0,1.150000e+05,The story of 7 people on trial stemming from v...,0
554,tt10618286,Mank,Mank,2020,7.0,54050.0,7.9,131.0,"Biography, Comedy, Drama",David Fincher,"Gary Oldman, Amanda Seyfried, Lily Collins",Jack Fincher,25000000.0,122000.0,1.220000e+05,1930's Hollywood is reevaluated through the ey...,0

In [121]:
info_last2y = pd.read_csv('C:/Users/gisiq/Documents/Cursos/Ironhack/projeto_final/data/info_past2y.csv')

In [122]:
info_last2y

,imdb_title_id,Won Golden Globe,Won Bafta,Oscar Nominations,Golden Globe Nominations,Bafta Nominations,Won Directors,Won Actors
0,tt10633456,0,0,6,1,6,0,0
1,tt9620292,0,0,5,4,6,0,0
2,tt5363618,0,0,6,1,4,0,0
3,tt10272386,0,0,6,4,6,0,0
4,tt9784798,0,0,5,1,4,0,0
5,tt9770150,1,1,6,4,7,0,0
6,tt1070874,0,0,5,4,3,0,0
7,tt10618286,0,0,10,4,6,0,0
8,tt8579674,1,1,10,3,9,0,0
9,tt1302006,0,0,10,5,10,0,0
10,tt7286456,0,0,11,4,11,0,1
11,tt7131622,0,0,10,5,10,0,0
12,tt6751668,0,0,6,3,4,1,0
13,tt1950186,0,0,4,1,3,0,0
14,tt7653254,0,0,6,6,5,0,0
15,tt3281548,0,0,6,2,5,0,0

In [123]:
info_last_2years = pd.merge(left=oscar_model_info_last2y, right=info_last2y, how='left', left_on='imdb_title_id', right_on='imdb_title_id')
info_last_2years

,imdb_title_id,title,title_pt,year,avg_vote,votes,metascore,runtime,genre,director,...,worlwide_gross_income,description,win,Won Golden Globe,Won Bafta,Oscar Nominations,Golden Globe Nominations,Bafta Nominations,Won Directors,Won Actors
0,tt1950186,Le Mans '66 - La grande sfida,Ford v. Ferrari,2019,8.1,251782.0,8.1,152.0,"Action, Biography, Drama",James Mangold,...,2.255082e+08,American car designer,0,0.0,0.0,4.0,1.0,3.0,0.0,0.0
1,tt1302006,The Irishman,O Irlandes,2019,7.9,304528.0,9.4,209.0,"Biography, Crime, Drama",Martin Scorsese,...,9.688530e+05,An old man recalls his time painting houses fo...,0,0.0,0.0,10.0,5.0,10.0,0.0,0.0
2,tt2584384,Jojo Rabbit,Jojo Rabbit,2019,7.9,253681.0,5.8,108.0,"Comedy, Drama, War",Taika Waititi,...,9.033502e+07,A young boy in Hitler's army finds out his mot...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,tt7286456,Joker,Coringa,2019,8.5,855097.0,5.9,122.0,"Crime, Drama, Thriller",Todd Phillips,...,1.074251e+09,"In Gotham City, mentally troubled comedian Art...",0,0.0,0.0,11.0,4.0,11.0,0.0,1.0
4,tt3281548,Piccole donne,Adoraveis Mulheres,2019,7.8,122387.0,9.1,135.0,"Drama, Romance",Greta Gerwig,...,2.166012e+08,"Jo March reflects back and forth on her life, ...",0,0.0,0.0,6.0,2.0,5.0,0.0,0.0
5,tt7653254,Storia di un matrimonio,História de um Casamento,2019,8.0,227338.0,9.4,137.0,"Comedy, Drama, Romance",Noah Baumbach,...,3.336860e+05,Noah Baumbach's incisive and compassionate loo...,0,0.0,0.0,6.0,6.0,5.0,0.0,0.0
6,tt8579674,1917,1917,2019,8.3,362897.0,7.8,119.0,"Drama, War",Sam Mendes,...,3.848572e+08,"April 6th, 1917. As a regiment assembles to wa...",0,1.0,1.0,10.0,3.0,9.0,0.0,0.0
7,tt7131622,C'era una volta a... Hollywood,Era uma vez em Hollywood,2019,7.6,507214.0,8.3,161.0,"Comedy, Drama",Quentin Tarantino,...,3.743436e+08,A faded television actor and his stunt double ...,0,0.0,0.0,10.0,5.0,10.0,0.0,0.0
8,tt6751668,Parasite,Parasita,2019,8.6,470931.0,9.6,132.0,"Comedy, Drama, Thriller",Bong Joon Ho,...,2.576049e+08,Greed and class discrimination threaten the ne...,1,0.0,0.0,6.0,3.0,4.0,1.0,0.0
9,tt10633456,Minari,Minari,2020,8.0,167.0,8.8,115.0,Drama,Lee Isaac Chung,...,1.100000e+07,A Korean family moves to Arkansas to start a f...,0,0.0,0.0,6.0,1.0,6.0,0.0,0.0
10,tt9620292,Promising Young Woman,Bela Vingança,2020,6.5,349.0,7.4,113.0,"Comedy, Crime, Drama",Emerald Fennell,...,1.091292e+07,"A young woman, traumatized by a tragic event i...",0,0.0,0.0,5.0,4.0,6.0,0.0,0.0
11,tt5363618,Sound of Metal,O Som do Silêncio,2020,6.9,307.0,8.7,130.0,"Drama, Music",Darius Marder,...,1.800000e+05,A heavy-metal drummer's life is thrown into fr...,0,0.0,0.0,6.0,1.0,4.0,0.0,0.0
12,tt10272386,The Father,Meu Pai,2020,8.2,148.0,8.7,97.0,Drama,Florian Zeller,...,5.100000e+06,A man refuses all assistance from his daughter...,0,0.0,0.0,6.0,4.0,6.0,0.0,0.0
13,tt9784798,Judas and the Black Messiah,Judas e o Messias Negro,2020,7.6,37135.0,8.5,126.0,"Biography, Drama, History",Shaka King,...,6.057415e+06,Bill O'Neal infiltrates the Black Panther Part...,0,0.0,0.0,5.0,1.0,4.0,0.0,0.0
14,tt9770150,Nomadland,Nomadland,2020,7.5,56344.0,9.3,107.0,"Biography, Drama, History",Chloé Zhao,...,5.074445e+06,"A woman in her sixties who, after losing every...",0,1.0,1.0,6.0,4.0,7.0,0.0,0.0
15,tt1070874,The Trial of the Chicago 7,Os 7 de Chicago,2020,7.8,131684.0,7.6,129.0,"Drama, History, Thriller",Aaron Sorkin,...,1.150000e+05,The story of 7 people on trial stemming from v...,0,0.0,0.0,5.0,4.0,3.0,0.0,0.0
16,tt10618286,Mank,Mank,2020,7.0,54050.0,7.9,131.0,"Biography, Comedy, Drama",David Fincher,...,1.220000e+05,1930's Hollywood is reevaluated through the ey...,0,0.0,0.0,10.0,4.0,6.0,0.0,0.0

In [124]:
info_last_2years.keys()

Index(['imdb_title_id', 'title', 'title_pt', 'year', 'avg_vote', 'votes',
       'metascore', 'runtime', 'genre', 'director', 'actors', 'writer',
       'budget', 'usa_gross_income', 'worlwide_gross_income', 'description',
       'win', 'Won Golden Globe', 'Won Bafta', 'Oscar Nominations',
       'Golden Globe Nominations', 'Bafta Nominations', 'Won Directors',
       'Won Actors'],
      dtype='object')

In [125]:
oscar_model_final = oscar_model_info.append(info_last_2years, ignore_index=True)
oscar_model_final

,imdb_title_id,title,title_pt,year,avg_vote,votes,metascore,runtime,genre,director,...,worlwide_gross_income,description,win,Won Golden Globe,Won Bafta,Oscar Nominations,Golden Globe Nominations,Bafta Nominations,Won Directors,Won Actors
0,tt6294822,The Post,The Post: A Guerra Secreta,2017,7.2,130017.0,8.3,116.0,Drama,Steven Spielberg,...,192938646.0,A cover-up spanning four U.S. Presidents pushe...,0,0.0,0.0,2.0,6.0,0.0,0.0,0.0
1,tt5776858,Il filo nascosto,Trama Fantasma,2017,7.5,106231.0,9.0,130.0,"Drama, Romance",Paul Thomas Anderson,...,47756590.0,"Set in 1950s London, Reynolds Woodcock is a re...",0,0.0,0.0,6.0,2.0,4.0,0.0,0.0
2,tt5027774,"Tre manifesti a Ebbing, Missouri",Três Anúncios para um Crime,2017,8.2,411693.0,8.8,115.0,"Comedy, Crime, Drama",Martin McDonagh,...,160192031.0,A mother personally challenges the local autho...,0,1.0,1.0,9.0,6.0,9.0,0.0,1.0
3,tt4925292,Lady Bird,Lady Bird: A Hora de Voar,2017,7.4,228832.0,9.4,94.0,"Comedy, Drama",Greta Gerwig,...,79097104.0,"In 2002, an artistically inclined seventeen-ye...",0,1.0,0.0,5.0,4.0,1.0,0.0,0.0
4,tt4555426,L'ora più buia,O Destino de uma Nação,2017,7.4,165715.0,7.5,125.0,"Biography, Drama, History",Joe Wright,...,153129891.0,"In May 1940, the fate of World War II hangs on",0,0.0,0.0,6.0,1.0,9.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
550,tt10272386,The Father,Meu Pai,2020,8.2,148.0,8.7,97.0,Drama,Florian Zeller,...,5100000.0,A man refuses all assistance from his daughter...,0,0.0,0.0,6.0,4.0,6.0,0.0,0.0
551,tt9784798,Judas and the Black Messiah,Judas e o Messias Negro,2020,7.6,37135.0,8.5,126.0,"Biography, Drama, History",Shaka King,...,6057415.0,Bill O'Neal infiltrates the Black Panther Part...,0,0.0,0.0,5.0,1.0,4.0,0.0,0.0
552,tt9770150,Nomadland,Nomadland,2020,7.5,56344.0,9.3,107.0,"Biography, Drama, History",Chloé Zhao,...,5074445.0,"A woman in her sixties who, after losing every...",0,1.0,1.0,6.0,4.0,7.0,0.0,0.0
553,tt1070874,The Trial of the Chicago 7,Os 7 de Chicago,2020,7.8,131684.0,7.6,129.0,"Drama, History, Thriller",Aaron Sorkin,...,115000.0,The story of 7 people on trial stemming from v...,0,0.0,0.0,5.0,4.0,3.0,0.0,0.0
554,tt10618286,Mank,Mank,2020,7.0,54050.0,7.9,131.0,"Biography, Comedy, Drama",David Fincher,...,122000.0,1930's Hollywood is reevaluated through the ey...,0,0.0,0.0,10.0,4.0,6.0,0.0,0.0

In [126]:
oscar_model_final.isnull().sum()

imdb_title_id                 0
title                         0
title_pt                      0
year                          0
avg_vote                      0
votes                         0
metascore                     0
runtime                       0
genre                         0
director                      0
actors                        0
writer                        0
budget                        0
usa_gross_income              0
worlwide_gross_income         0
description                   0
win                           0
Won Golden Globe            288
Won Bafta                   288
Oscar Nominations           288
Golden Globe Nominations    288
Bafta Nominations           288
Won Directors               288
Won Actors                  288
dtype: int64

In [127]:
oscar_model_final.fillna(0, inplace = True)

In [128]:
oscar_model_final.isnull().sum()

imdb_title_id               0
title                       0
title_pt                    0
year                        0
avg_vote                    0
votes                       0
metascore                   0
runtime                     0
genre                       0
director                    0
actors                      0
writer                      0
budget                      0
usa_gross_income            0
worlwide_gross_income       0
description                 0
win                         0
Won Golden Globe            0
Won Bafta                   0
Oscar Nominations           0
Golden Globe Nominations    0
Bafta Nominations           0
Won Directors               0
Won Actors                  0
dtype: int64

In [58]:
oscar_model_final.to_csv('C:/Users/gisiq/Documents/Cursos/Ironhack/projeto_final/oscar_model_final.csv')

In [70]:
oscar_model_final = pd.read_csv('C:/Users/gisiq/Documents/Cursos/Ironhack/projeto_final/oscar_model_final.csv')

In [9]:
rotten = pd.read_csv('C:/Users/gisiq/Documents/Cursos/Ironhack/projeto_final/data/New folder/Predicting-2020-Oscars-master/my_data/df_movies_FINAL.csv')

In [5]:
rotten

,Unnamed: 0,imdbID,title,year,n_votes,imdb_rating,metscore,rotten_tomatoes,budget,box_office,cast_size,genre_span,running_time,other_wins,other_noms,opening_weekend,gross_box_office
0,0,tt0054380,the 3rd voice,1960,98.0,7.1,7.1,7.1,NaN,NaN,4.0,3.0,79.0,0.0,0.0,NaN,NaN
1,1,tt0053561,5 branded women,1960,395.0,6.7,6.7,6.7,NaN,NaN,4.0,2.0,115.0,0.0,0.0,NaN,NaN
2,2,tt0054415,12 to the moon,1960,947.0,3.1,3.1,3.1,0.15,NaN,4.0,1.0,74.0,0.0,0.0,NaN,NaN
3,3,tt0053558,13 fighting men,1960,54.0,4.7,4.7,4.7,NaN,NaN,4.0,3.0,69.0,0.0,0.0,NaN,NaN
4,4,tt0053559,13 ghosts,1960,4873.0,6.1,5.6,3.6,NaN,NaN,4.0,1.0,85.0,0.0,1.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13952,16256,tt7715070,horrible histories: the movie – rotten romans,2019,879.0,5.1,5.1,6.9,NaN,NaN,4.0,4.0,92.0,0.0,1.0,NaN,3.83
13953,16257,tt10121372,roger waters: us + them,2019,486.0,8.0,8.0,8.3,NaN,NaN,4.0,2.0,135.0,0.0,0.0,0.25,1.29
13954,16258,tt6193408,a shaun the sheep movie: farmageddon,2019,1964.0,7.0,8.0,9.7,NaN,NaN,4.0,6.0,86.0,1.0,3.0,NaN,37.77
13955,16259,tt6751668,parasite,2019,128604.0,8.6,9.6,9.9,NaN,NaN,4.0,3.0,132.0,119.0,179.0,0.39,133.52
13956,16260,tt8291806,pain and glory,2019,20309.0,7.7,8.8,7.7,NaN,NaN,4.0,1.0,113.0,14.0,66.0,0.15,36.39

In [10]:
rotten = rotten[['imdbID', 'rotten_tomatoes']]

In [11]:
rotten.rename(columns={'imdbID':'imdb_title_id'}, inplace=True)

In [61]:
oscar_model_final = pd.merge(left=oscar_model_final, right=rotten, how='left', left_on='imdb_title_id', right_on='imdb_title_id')
oscar_model_final

,Unnamed: 0,imdb_title_id,title,title_pt,year,avg_vote,votes,metascore,runtime,genre,...,description,win,Won Golden Globe,Won Bafta,Oscar Nominations,Golden Globe Nominations,Bafta Nominations,Won Directors,Won Actors,rotten_tomatoes
0,0,tt6294822,The Post,The Post: A Guerra Secreta,2017,7.2,130017.0,8.3,116.0,Drama,...,A cover-up spanning four U.S. Presidents pushe...,0,0.0,0.0,2.0,6.0,0.0,0.0,0.0,8.8
1,1,tt5776858,Il filo nascosto,Trama Fantasma,2017,7.5,106231.0,9.0,130.0,"Drama, Romance",...,"Set in 1950s London, Reynolds Woodcock is a re...",0,0.0,0.0,6.0,2.0,4.0,0.0,0.0,9.1
2,2,tt5027774,"Tre manifesti a Ebbing, Missouri",Três Anúncios para um Crime,2017,8.2,411693.0,8.8,115.0,"Comedy, Crime, Drama",...,A mother personally challenges the local autho...,0,1.0,1.0,9.0,6.0,9.0,0.0,1.0,9.0
3,3,tt4925292,Lady Bird,Lady Bird: A Hora de Voar,2017,7.4,228832.0,9.4,94.0,"Comedy, Drama",...,"In 2002, an artistically inclined seventeen-ye...",0,1.0,0.0,5.0,4.0,1.0,0.0,0.0,9.9
4,4,tt4555426,L'ora più buia,O Destino de uma Nação,2017,7.4,165715.0,7.5,125.0,"Biography, Drama, History",...,"In May 1940, the fate of World War II hangs on",0,0.0,0.0,6.0,1.0,9.0,0.0,0.0,8.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
561,550,tt10272386,The Father,Meu Pai,2020,8.2,148.0,8.7,97.0,Drama,...,A man refuses all assistance from his daughter...,0,0.0,0.0,6.0,4.0,6.0,0.0,0.0,NaN
562,551,tt9784798,Judas and the Black Messiah,Judas e o Messias Negro,2020,7.6,37135.0,8.5,126.0,"Biography, Drama, History",...,Bill O'Neal infiltrates the Black Panther Part...,0,0.0,0.0,5.0,1.0,4.0,0.0,0.0,NaN
563,552,tt9770150,Nomadland,Nomadland,2020,7.5,56344.0,9.3,107.0,"Biography, Drama, History",...,"A woman in her sixties who, after losing every...",0,1.0,1.0,6.0,4.0,7.0,0.0,0.0,NaN
564,553,tt1070874,The Trial of the Chicago 7,Os 7 de Chicago,2020,7.8,131684.0,7.6,129.0,"Drama, History, Thriller",...,The story of 7 people on trial stemming from v...,0,0.0,0.0,5.0,4.0,3.0,0.0,0.0,NaN
565,554,tt10618286,Mank,Mank,2020,7.0,54050.0,7.9,131.0,"Biography, Comedy, Drama",...,1930's Hollywood is reevaluated through the ey...,0,0.0,0.0,10.0,4.0,6.0,0.0,0.0,NaN

In [21]:
oscar_model_final[oscar_model_final['year'] >=2015]

,Unnamed: 0,imdb_title_id,title,title_pt,year,avg_vote,votes,metascore,runtime,genre,...,description,win,Won Golden Globe,Won Bafta,Oscar Nominations,Golden Globe Nominations,Bafta Nominations,Won Directors,Won Actors,rotten_tomatoes
0,0,tt6294822,The Post,The Post: A Guerra Secreta,2017,7.2,130017.0,8.3,116.0,Drama,...,A cover-up spanning four U.S. Presidents pushe...,0,0.0,0.0,2.0,6.0,0.0,0.0,0.0,8.8
1,1,tt5776858,Il filo nascosto,Trama Fantasma,2017,7.5,106231.0,9.0,130.0,"Drama, Romance",...,"Set in 1950s London, Reynolds Woodcock is a re...",0,0.0,0.0,6.0,2.0,4.0,0.0,0.0,9.1
2,2,tt5027774,"Tre manifesti a Ebbing, Missouri",Três Anúncios para um Crime,2017,8.2,411693.0,8.8,115.0,"Comedy, Crime, Drama",...,A mother personally challenges the local autho...,0,1.0,1.0,9.0,6.0,9.0,0.0,1.0,9.0
3,3,tt4925292,Lady Bird,Lady Bird: A Hora de Voar,2017,7.4,228832.0,9.4,94.0,"Comedy, Drama",...,"In 2002, an artistically inclined seventeen-ye...",0,1.0,0.0,5.0,4.0,1.0,0.0,0.0,9.9
4,4,tt4555426,L'ora più buia,O Destino de uma Nação,2017,7.4,165715.0,7.5,125.0,"Biography, Drama, History",...,"In May 1940, the fate of World War II hangs on",0,0.0,0.0,6.0,1.0,9.0,0.0,0.0,8.5
5,5,tt5580390,La forma dell'acqua - The Shape of Water,A Forma da Água,2017,7.3,357610.0,8.7,123.0,"Adventure, Drama, Fantasy",...,At a top secret research facility in the 1960s...,1,0.0,0.0,13.0,7.0,12.0,1.0,0.0,9.2
6,6,tt5013056,Dunkirk,Dunkirk,2017,7.9,531422.0,9.4,106.0,"Action, Drama, History",...,"Allied soldiers from Belgium, the British Empi...",0,0.0,0.0,8.0,3.0,8.0,0.0,0.0,9.3
7,7,tt5052448,Scappa - Get Out,Corra!,2017,7.7,472430.0,8.5,104.0,"Horror, Mystery, Thriller",...,A young African-American visits his white girl...,0,0.0,0.0,4.0,2.0,2.0,0.0,0.0,9.8
8,8,tt5726616,Chiamami col tuo nome,Me Chame pelo Seu Nome,2017,7.9,199385.0,9.3,132.0,"Drama, Romance",...,"In 1980s Italy, romance blossoms between a sev...",0,0.0,0.0,4.0,3.0,4.0,0.0,0.0,9.5
9,9,tt2671706,Barriere,Um Limite Entre Nós,2016,7.2,95317.0,7.9,139.0,Drama,...,A working-class African-American father tries ...,0,0.0,0.0,4.0,2.0,1.0,0.0,0.0,9.2
10,10,tt4846340,Il diritto di contare,Estrelas Além do Tempo,2016,7.8,193340.0,7.4,127.0,"Biography, Drama, History",...,The story of a team of female African-American...,0,0.0,0.0,3.0,2.0,1.0,0.0,1.0,9.3
11,11,tt3741834,Lion - La strada verso casa,Lion: Uma Jornada para Casa,2016,8.0,206737.0,6.9,118.0,"Biography, Drama",...,A five-year-old Indian boy is adopted by an Au...,0,0.0,0.0,6.0,4.0,5.0,0.0,0.0,8.5
12,12,tt2119532,La battaglia di Hacksaw Ridge,Até o Último Homem,2016,8.1,418336.0,7.1,139.0,"Biography, Drama, History",...,World War II American Army Medic,0,0.0,0.0,6.0,3.0,5.0,0.0,0.0,8.5
13,13,tt4975722,Moonlight,Moonlight: Sob a Luz do Luar,2016,7.4,263568.0,9.9,111.0,Drama,...,A young African-American man grapples with his...,1,1.0,0.0,8.0,6.0,4.0,0.0,0.0,9.8
14,14,tt2543164,Arrival,A Chegada,2016,7.9,575657.0,8.1,116.0,"Drama, Sci-Fi",...,A linguist works with the military to communic...,0,0.0,0.0,8.0,2.0,9.0,0.0,0.0,9.4
15,15,tt3783958,La La Land,La La Land: Cantando Estações,2016,8.0,488112.0,9.4,128.0,"Comedy, Drama, Music",...,"While navigating their careers in Los Angeles,...",0,1.0,1.0,14.0,7.0,11.0,1.0,0.0,9.1
16,16,tt2582782,Hell or High Water,A Qualquer Custo,2016,7.6,198293.0,8.8,102.0,"Action, Crime, Drama",...,A divorced father and his ex-con older brother...,0,0.0,0.0,4.0,3.0,3.0,0.0,0.0,9.7
17,17,tt4034228,Manchester by the Sea,Manchester à Beira-Mar,2016,7.8,238464.0,9.6,137.0,Drama,...,A depressed uncle is asked to take care of his...,0,0.0,0.0,6.0,5.0,6.0,0.0,0.0,9.6
18,18,tt1663202,Revenant - Redivivo,O Regresso,2015,8.0,684961.0,7.6,156.0,"Action, Adventure, Drama",...,A frontiersman on a fur trading expedition in ...,0,1.0,1.0,12.0,4.0,8.0,1.0,0.0,7.9
19,19,tt1596363,La grande scommessa,A Grande Aposta,2015,7.8,348890.0,8.1,130.0,"Biography, Comedy, Drama",...,In 2006-2007 a group of investors bet against ...,0,0.0,0.0,5.0,4.0,5.0,0.0,0.0,8.8
20,20,tt3682448,Il ponte delle spie,Ponte dos Espiões,2015,7.6,281247.0,8.1,142.0,"Drama, History, Thriller",...,"During the Cold War, an American lawyer is rec...",0,0.0,0.0,6.0,1.0,9.0,0.0,0.0,9.1
21,21,tt3659388,Sopravvissuto - The Martian,Perdido em Marte,2015,8.0,740757.0,8.0,144.0,"Adventure, Drama, Sci-Fi",...,An astronaut becomes stranded on Mars after hi...,0,1.0,0.0,7.0,3.0,6.0,0.0,0.0,9.1
22,22,tt3170832,Room,O Quarto de Jack,2015,8.1,357159.0,8.6,118.0,"Drama, Thriller",...,"Held captive for 7 years in an enclosed space,...",0,0.0,0.0,4.0,3.0,2.0,0.0,0.0,9.3
23,23,tt1895587,Il caso Spotlight,Spotlight: Segredos Revelados,2015,8.1,406847.0,9.3,129.0,"Biography, Crime, Drama",...,The true story of how the Boston Globe uncover...,1,0.0,0.0,6.0,3.0,3.0,0.0,1.0,9.7
24,24,tt1392190,Mad Max: Fury Road,Mad Max: Estrada da Fúria,2015,8.1,856553.0,9.0,120.0,"Action, Adventure, Sci-Fi",...,"In a post-apocalyptic wasteland, a woman rebel...",0,0.0,0.0,10.0,2.0,7.0,0.0,0.0,9.7
25,24,tt1392190,Mad Max: Fury Road,Mad Max: Estrada da Fúria,2015,8.1,856553.0,9.0,120.0,"Action, Adventure, Sci-Fi",...,"In a post-apocalyptic wasteland, a woman rebel...",0,0.0,0.0,10.0,2.0,7.0,0.0,0.0,9.7
26,25,tt2381111,Brooklyn,Brooklyn,2015,7.5,127832.0,8.8,117.0,"Drama, Romance",...,"An Irish immigrant lands in 1950s Brooklyn, wh...",0,0.0,0.0,3.0,1.0,6.0,0.0,0.0,9.7
542,531,tt1825683,Black Panther,Infiltrado na Klan,2018,7.3,597058.0,8.8,134.0,"Action, Adventure, Sci-Fi",...,"T'Challa, heir to the hidden but advanced king...",0,0.0,0.0,7.0,3.0,1.0,0.0,1.0,9.7
543,532,tt7349662,BlacKkKlansman,Pantera Negra,2018,7.5,207042.0,8.3,135.0,"Biography, Crime, Drama",...,0,0,0.0,0.0,6.0,4.0,5.0,0.0,0.0,9.6
544,533,tt1727824,Bohemian Rhapsody,Bohemian Rhapsody,2018,8.0,433549.0,4.9,134.0,"Biography, Drama, Music",...,The story of the legendary British rock band,0,1.0,0.0,5.0,2.0,7.0,0.0,0.0,6.0
545,534,tt5083738,La favorita,A Favorita,2018,7.5,163857.0,9.1,119.0,"Biography, Comedy, Drama",...,"In early 18th century England, a frail Queen A...",0,0.0,0.0,10.0,5.0,12.0,0.0,0.0,9.3
546,535,tt6966692,Green Book,Green Book: O Guia,2018,8.2,341975.0,6.9,130.0,"Biography, Comedy, Drama",...,A working-class Italian-American bouncer becom...,1,1.0,0.0,5.0,5.0,4.0,0.0,0.0,7.8
547,536,tt1517451,A Star Is Born,Nasce Uma Estrela,2018,7.7,318520.0,8.8,136.0,"Drama, Music, Romance",...,A musician helps a young singer find fame as a...,0,0.0,0.0,8.0,5.0,7.0,0.0,0.0,9.0
548,537,tt6266538,Vice - L'uomo nell'ombra,Vice,2018,7.2,113257.0,6.1,132.0,"Biography, Comedy, Drama",...,The story of,0,0.0,0.0,8.0,6.0,6.0,0.0,0.0,6.6
549,538,tt1950186,Le Mans '66 - La grande sfida,Ford v. Ferrari,2019,8.1,251782.0,8.1,152.0,"Action, Biography, Drama",...,American car designer,0,0.0,0.0,4.0,1.0,3.0,0.0,0.0,8.3
550,539,tt1302006,The Irishman,O Irlandes,2019,7.9,304528.0,9.4,209.0,"Biography, Crime, Drama",...,An old man recalls his time painting houses fo...,0,0.0,0.0,10.0,5.0,10.0,0.0,0.0,9.6
551,540,tt2584384,Jojo Rabbit,Jojo Rabbit,2019,7.9,253681.0,5.8,108.0,"Comedy, Drama, War",...,A young boy in Hitler's army finds out his mot...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0
552,541,tt7286456,Joker,Coringa,2019,8.5,855097.0,5.9,122.0,"Crime, Drama, Thriller",...,"In Gotham City, mentally troubled comedian Art...",0,0.0,0.0,11.0,4.0,11.0,0.0,1.0,6.9
553,542,tt3281548,Piccole donne,Adoraveis Mulheres,2019,7.8,122387.0,9.1,135.0,"Drama, Romance",...,"Jo March reflects back and forth on her life, ...",0,0.0,0.0,6.0,2.0,5.0,0.0,0.0,9.6
554,543,tt7653254,Storia di un matrimonio,História de um Casamento,2019,8.0,227338.0,9.4,137.0,"Comedy, Drama, Romance",...,Noah Baumbach's incisive and compassionate loo...,0,0.0,0.0,6.0,6.0,5.0,0.0,0.0,9.5
555,544,tt8579674,1917,1917,2019,8.3,362897.0,7.8,119.0,"Drama, War",...,"April 6th, 1917. As a regiment assembles to wa...",0,1.0,1.0,10.0,3.0,9.0,0.0,0.0,8.8
556,545,tt7131622,C'era una volta a... Hollywood,Era uma vez em Hollywood,2019,7.6,507214.0,8.3,161.0,"Comedy, Drama",...,A faded television actor and his stunt double ...,0,0.0,0.0,10.0,5.0,10.0,0.0,0.0,8.5
557,546,tt6751668,Parasite,Parasita,2019,8.6,470931.0,9.6,132.0,"Comedy, Drama, Thriller",...,Greed and class discrimination threaten the ne...,1,0.0,0.0,6.0,3.0,4.0,1.0,0.0,9.9
558,547,tt10633456,Minari,Minari,2020,8.0,167.0,8.8,115.0,Drama,...,A Korean family moves to Arkansas to start a f...,0,0.0,0.0,6.0,1.0,6.0,0.0,0.0,NaN
559,548,tt9620292,Promising Young Woman,Bela Vingança,2020,6.5,349.0,7.4,113.0,"Comedy, Crime, Drama",...,"A young woman, traumatized by a tragic event i...",0,0.0,0.0,5.0,4.0,6.0,0.0,0.0,NaN
560,549,tt5363618,Sound of Metal,O Som do Silêncio,2020,6.9,307.0,8.7,130.0,"Drama, Music",...,A heavy-metal drummer's life is thrown into fr...,0,0.0,0.0,6.0,1.0,4.0,0.0,0.0,NaN
561,550,tt10272386,The Father,Meu Pai,2020,8.2,148.0,8.7,97.0,Drama,...,A man refuses all assistance from his daughter...,0,0.0,0.0,6.0,4.0,6.0,0.0,0.0,NaN
562,551,tt9784798,Judas and the Black Messiah,Judas e o Messias Negro,2020,7.6,37135.0,8.5,126.0,"Biography, Drama, History",...,Bill O'Neal infiltrates the Black Panther Part...,0,0.0,0.0,5.0,1.0,4.0,0.0,0.0,NaN
563,552,tt9770150,Nomadland,Nomadland,2020,7.5,56344.0,9.3,107.0,"Biography, Drama, History",...,"A woman in her sixties who, after losing every...",0,1.0,1.0,6.0,4.0,7.0,0.0,0.0,NaN
564,553,tt1070874,The Trial of the Chicago 7,Os 7 de Chicago,2020,7.8,131684.0,7.6,129.0,"Drama, History, Thriller",...,The story of 7 people on trial stemming from v...,0,0.0,0.0,5.0,4.0,3.0,0.0,0.0,NaN
565,554,tt10618286,Mank,Mank,2020,7.0,54050.0,7.9,131.0,"Biography, Comedy, Drama",...,1930's Hollywood is reevaluated through the ey...,0,0.0,0.0,10.0,4.0,6.0,0.0,0.0,NaN

In [22]:
rotten_2021 = pd.read_csv('C:/Users/gisiq/Documents/Cursos/Ironhack/projeto_final/data/rotten.csv')

In [23]:
rotten_2021

  imdb_title_id  rotten_tomatoes
0    tt10633456              9.8
1     tt9620292              9.1
2     tt5363618              9.7
3    tt10272386              9.8
4     tt9784798              9.6
5     tt9770150              9.4
6     tt1070874              8.9
7    tt10618286              8.3

In [47]:
oscar_model_add_rotten = oscar_model_final.loc[oscar_model_final['year'] == 2020]
oscar_model_add_rotten

,Unnamed: 0,title,title_pt,year,avg_vote,votes,metascore,runtime,genre,director,...,description,win,Won Golden Globe,Won Bafta,Oscar Nominations,Golden Globe Nominations,Bafta Nominations,Won Directors,Won Actors,rotten_tomatoes
imdb_title_id,,,,,,,,,,,,,,,,,,,,,
tt10633456,547,Minari,Minari,2020,8.0,167.0,8.8,115.0,Drama,Lee Isaac Chung,...,A Korean family moves to Arkansas to start a f...,0,0.0,0.0,6.0,1.0,6.0,0.0,0.0,NaN
tt9620292,548,Promising Young Woman,Bela Vingança,2020,6.5,349.0,7.4,113.0,"Comedy, Crime, Drama",Emerald Fennell,...,"A young woman, traumatized by a tragic event i...",0,0.0,0.0,5.0,4.0,6.0,0.0,0.0,NaN
tt5363618,549,Sound of Metal,O Som do Silêncio,2020,6.9,307.0,8.7,130.0,"Drama, Music",Darius Marder,...,A heavy-metal drummer's life is thrown into fr...,0,0.0,0.0,6.0,1.0,4.0,0.0,0.0,NaN
tt10272386,550,The Father,Meu Pai,2020,8.2,148.0,8.7,97.0,Drama,Florian Zeller,...,A man refuses all assistance from his daughter...,0,0.0,0.0,6.0,4.0,6.0,0.0,0.0,NaN
tt9784798,551,Judas and the Black Messiah,Judas e o Messias Negro,2020,7.6,37135.0,8.5,126.0,"Biography, Drama, History",Shaka King,...,Bill O'Neal infiltrates the Black Panther Part...,0,0.0,0.0,5.0,1.0,4.0,0.0,0.0,NaN
tt9770150,552,Nomadland,Nomadland,2020,7.5,56344.0,9.3,107.0,"Biography, Drama, History",Chloé Zhao,...,"A woman in her sixties who, after losing every...",0,1.0,1.0,6.0,4.0,7.0,0.0,0.0,NaN
tt1070874,553,The Trial of the Chicago 7,Os 7 de Chicago,2020,7.8,131684.0,7.6,129.0,"Drama, History, Thriller",Aaron Sorkin,...,The story of 7 people on trial stemming from v...,0,0.0,0.0,5.0,4.0,3.0,0.0,0.0,NaN
tt10618286,554,Mank,Mank,2020,7.0,54050.0,7.9,131.0,"Biography, Comedy, Drama",David Fincher,...,1930's Hollywood is reevaluated through the ey...,0,0.0,0.0,10.0,4.0,6.0,0.0,0.0,NaN

In [48]:
oscar_model_rotten = oscar_model_add_rotten.drop(columns=['rotten_tomatoes'])

In [49]:
oscar_model_rotten = pd.merge(left=oscar_model_rotten, right=rotten_2021, how='left', left_on='imdb_title_id', right_on='imdb_title_id')
oscar_model_rotten

,imdb_title_id,Unnamed: 0,title,title_pt,year,avg_vote,votes,metascore,runtime,genre,...,description,win,Won Golden Globe,Won Bafta,Oscar Nominations,Golden Globe Nominations,Bafta Nominations,Won Directors,Won Actors,rotten_tomatoes
0,tt10633456,547,Minari,Minari,2020,8.0,167.0,8.8,115.0,Drama,...,A Korean family moves to Arkansas to start a f...,0,0.0,0.0,6.0,1.0,6.0,0.0,0.0,9.8
1,tt9620292,548,Promising Young Woman,Bela Vingança,2020,6.5,349.0,7.4,113.0,"Comedy, Crime, Drama",...,"A young woman, traumatized by a tragic event i...",0,0.0,0.0,5.0,4.0,6.0,0.0,0.0,9.1
2,tt5363618,549,Sound of Metal,O Som do Silêncio,2020,6.9,307.0,8.7,130.0,"Drama, Music",...,A heavy-metal drummer's life is thrown into fr...,0,0.0,0.0,6.0,1.0,4.0,0.0,0.0,9.7
3,tt10272386,550,The Father,Meu Pai,2020,8.2,148.0,8.7,97.0,Drama,...,A man refuses all assistance from his daughter...,0,0.0,0.0,6.0,4.0,6.0,0.0,0.0,9.8
4,tt9784798,551,Judas and the Black Messiah,Judas e o Messias Negro,2020,7.6,37135.0,8.5,126.0,"Biography, Drama, History",...,Bill O'Neal infiltrates the Black Panther Part...,0,0.0,0.0,5.0,1.0,4.0,0.0,0.0,9.6
5,tt9770150,552,Nomadland,Nomadland,2020,7.5,56344.0,9.3,107.0,"Biography, Drama, History",...,"A woman in her sixties who, after losing every...",0,1.0,1.0,6.0,4.0,7.0,0.0,0.0,9.4
6,tt1070874,553,The Trial of the Chicago 7,Os 7 de Chicago,2020,7.8,131684.0,7.6,129.0,"Drama, History, Thriller",...,The story of 7 people on trial stemming from v...,0,0.0,0.0,5.0,4.0,3.0,0.0,0.0,8.9
7,tt10618286,554,Mank,Mank,2020,7.0,54050.0,7.9,131.0,"Biography, Comedy, Drama",...,1930's Hollywood is reevaluated through the ey...,0,0.0,0.0,10.0,4.0,6.0,0.0,0.0,8.3

In [62]:
df = oscar_model_final.drop(oscar_model_final[(oscar_model_final.year ==2020)].index)

In [71]:
df

,Unnamed: 0,imdb_title_id,title,title_pt,year,avg_vote,votes,metascore,runtime,genre,...,description,win,Won Golden Globe,Won Bafta,Oscar Nominations,Golden Globe Nominations,Bafta Nominations,Won Directors,Won Actors,rotten_tomatoes
0,0,tt6294822,The Post,The Post: A Guerra Secreta,2017,7.2,130017.0,8.3,116.0,Drama,...,A cover-up spanning four U.S. Presidents pushe...,0,0.0,0.0,2.0,6.0,0.0,0.0,0.0,8.8
1,1,tt5776858,Il filo nascosto,Trama Fantasma,2017,7.5,106231.0,9.0,130.0,"Drama, Romance",...,"Set in 1950s London, Reynolds Woodcock is a re...",0,0.0,0.0,6.0,2.0,4.0,0.0,0.0,9.1
2,2,tt5027774,"Tre manifesti a Ebbing, Missouri",Três Anúncios para um Crime,2017,8.2,411693.0,8.8,115.0,"Comedy, Crime, Drama",...,A mother personally challenges the local autho...,0,1.0,1.0,9.0,6.0,9.0,0.0,1.0,9.0
3,3,tt4925292,Lady Bird,Lady Bird: A Hora de Voar,2017,7.4,228832.0,9.4,94.0,"Comedy, Drama",...,"In 2002, an artistically inclined seventeen-ye...",0,1.0,0.0,5.0,4.0,1.0,0.0,0.0,9.9
4,4,tt4555426,L'ora più buia,O Destino de uma Nação,2017,7.4,165715.0,7.5,125.0,"Biography, Drama, History",...,"In May 1940, the fate of World War II hangs on",0,0.0,0.0,6.0,1.0,9.0,0.0,0.0,8.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
553,542,tt3281548,Piccole donne,Adoraveis Mulheres,2019,7.8,122387.0,9.1,135.0,"Drama, Romance",...,"Jo March reflects back and forth on her life, ...",0,0.0,0.0,6.0,2.0,5.0,0.0,0.0,9.6
554,543,tt7653254,Storia di un matrimonio,História de um Casamento,2019,8.0,227338.0,9.4,137.0,"Comedy, Drama, Romance",...,Noah Baumbach's incisive and compassionate loo...,0,0.0,0.0,6.0,6.0,5.0,0.0,0.0,9.5
555,544,tt8579674,1917,1917,2019,8.3,362897.0,7.8,119.0,"Drama, War",...,"April 6th, 1917. As a regiment assembles to wa...",0,1.0,1.0,10.0,3.0,9.0,0.0,0.0,8.8
556,545,tt7131622,C'era una volta a... Hollywood,Era uma vez em Hollywood,2019,7.6,507214.0,8.3,161.0,"Comedy, Drama",...,A faded television actor and his stunt double ...,0,0.0,0.0,10.0,5.0,10.0,0.0,0.0,8.5
557,546,tt6751668,Parasite,Parasita,2019,8.6,470931.0,9.6,132.0,"Comedy, Drama, Thriller",...,Greed and class discrimination threaten the ne...,1,0.0,0.0,6.0,3.0,4.0,1.0,0.0,9.9

In [73]:
oscar_model_final = df.append(oscar_model_rotten, ignore_index=True)

In [74]:
oscar_model_final

,Unnamed: 0,imdb_title_id,title,title_pt,year,avg_vote,votes,metascore,runtime,genre,...,description,win,Won Golden Globe,Won Bafta,Oscar Nominations,Golden Globe Nominations,Bafta Nominations,Won Directors,Won Actors,rotten_tomatoes
0,0,tt6294822,The Post,The Post: A Guerra Secreta,2017,7.2,130017.0,8.3,116.0,Drama,...,A cover-up spanning four U.S. Presidents pushe...,0,0.0,0.0,2.0,6.0,0.0,0.0,0.0,8.8
1,1,tt5776858,Il filo nascosto,Trama Fantasma,2017,7.5,106231.0,9.0,130.0,"Drama, Romance",...,"Set in 1950s London, Reynolds Woodcock is a re...",0,0.0,0.0,6.0,2.0,4.0,0.0,0.0,9.1
2,2,tt5027774,"Tre manifesti a Ebbing, Missouri",Três Anúncios para um Crime,2017,8.2,411693.0,8.8,115.0,"Comedy, Crime, Drama",...,A mother personally challenges the local autho...,0,1.0,1.0,9.0,6.0,9.0,0.0,1.0,9.0
3,3,tt4925292,Lady Bird,Lady Bird: A Hora de Voar,2017,7.4,228832.0,9.4,94.0,"Comedy, Drama",...,"In 2002, an artistically inclined seventeen-ye...",0,1.0,0.0,5.0,4.0,1.0,0.0,0.0,9.9
4,4,tt4555426,L'ora più buia,O Destino de uma Nação,2017,7.4,165715.0,7.5,125.0,"Biography, Drama, History",...,"In May 1940, the fate of World War II hangs on",0,0.0,0.0,6.0,1.0,9.0,0.0,0.0,8.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
561,550,tt10272386,The Father,Meu Pai,2020,8.2,148.0,8.7,97.0,Drama,...,A man refuses all assistance from his daughter...,0,0.0,0.0,6.0,4.0,6.0,0.0,0.0,9.8
562,551,tt9784798,Judas and the Black Messiah,Judas e o Messias Negro,2020,7.6,37135.0,8.5,126.0,"Biography, Drama, History",...,Bill O'Neal infiltrates the Black Panther Part...,0,0.0,0.0,5.0,1.0,4.0,0.0,0.0,9.6
563,552,tt9770150,Nomadland,Nomadland,2020,7.5,56344.0,9.3,107.0,"Biography, Drama, History",...,"A woman in her sixties who, after losing every...",0,1.0,1.0,6.0,4.0,7.0,0.0,0.0,9.4
564,553,tt1070874,The Trial of the Chicago 7,Os 7 de Chicago,2020,7.8,131684.0,7.6,129.0,"Drama, History, Thriller",...,The story of 7 people on trial stemming from v...,0,0.0,0.0,5.0,4.0,3.0,0.0,0.0,8.9
565,554,tt10618286,Mank,Mank,2020,7.0,54050.0,7.9,131.0,"Biography, Comedy, Drama",...,1930's Hollywood is reevaluated through the ey...,0,0.0,0.0,10.0,4.0,6.0,0.0,0.0,8.3

In [75]:
oscar_model_final.isnull().sum()

Unnamed: 0                    0
imdb_title_id                 0
title                         0
title_pt                      0
year                          0
avg_vote                      0
votes                         0
metascore                     0
runtime                       0
genre                         0
director                      0
actors                        0
writer                        0
budget                        0
usa_gross_income              0
worlwide_gross_income         0
description                   0
win                           0
Won Golden Globe              0
Won Bafta                     0
Oscar Nominations             0
Golden Globe Nominations      0
Bafta Nominations             0
Won Directors                 0
Won Actors                    0
rotten_tomatoes             174
dtype: int64

In [80]:
oscar_model_final.fillna('0',inplace = True)

In [81]:
oscar_model_final.isnull().sum()

Unnamed: 0                  0
imdb_title_id               0
title                       0
title_pt                    0
year                        0
avg_vote                    0
votes                       0
metascore                   0
runtime                     0
genre                       0
director                    0
actors                      0
writer                      0
budget                      0
usa_gross_income            0
worlwide_gross_income       0
description                 0
win                         0
Won Golden Globe            0
Won Bafta                   0
Oscar Nominations           0
Golden Globe Nominations    0
Bafta Nominations           0
Won Directors               0
Won Actors                  0
rotten_tomatoes             0
dtype: int64

In [82]:
oscar_model_final.to_csv('C:/Users/gisiq/Documents/Cursos/Ironhack/projeto_final/oscar_model_final.csv')